<div class="col-md-12 settings" id="cmx-settings-container">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <h1>{{ translationService.pt('views.settings.title') }}</h1>
    <div class="spacer-32"></div>
    <div class="col-md-4 col-sm-12">
        <h6>{{ translationService.pt('views.settings.timeZoneLbl') }}</h6>
        <h6 class="normal">{{ timeZone }}</h6>
    </div>
    <div class="spacer-32"></div>
    <div class="col-md-4 col-sm-12">
        <h6>{{ translationService.pt('views.settings.countryLbl') }}</h6>
        <h6 class="normal">{{ translationService.pt(userCountry) }}</h6>
    </div>
    <div class="spacer-32"></div>
    <div class="col-md-3 col-sm-12">
        <cmx-dropdown [rtl]="isRTL" class="cmx-input" [closeOnClick]="true" [placeholder]="placeholder" [title]="translationService.pt('views.global.lbl_languagePreference')">
            <ng-container *ngFor="let lang of languages | async">
                <cmx-dropdown-item (click)="changeLanguage(lang)" [disableTick]="true">
                    {{ lang.languageName }}
                </cmx-dropdown-item>
            </ng-container>
        </cmx-dropdown>
    </div>
</div>
