// breadcrumps

.breadcrump-link{
    color: #3FA9F5;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
}

.breadcrump-current {
    display: inline;
    color: #001C3B;
    font-size: 18px;
    line-height: 26px;
}

.breadcrump-divider{
    background-color: #3FA9F5;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 4px;
}

// rows

.row-spacing{
    margin-top: 8px;
    margin-bottom: 8px;
}

.--truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    min-width: 0;
}

// status colored squares

.status{
    width: 24px;
    height: 20px;
    border-radius: 25%;
    margin-right: 5px;
    background-color: #D6D6D6; // #9B9B9B
}

.status.ok{
    background-color: #7AC943;
}

.status.warning{
    background-color: #F9A23D;
}

.status.error{
    background-color: #C0392B;
}

// text

.--truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    min-width: 0;
}

// shadows

.--shadow{
    // 0 2px 6px 3px rgba(0, 0, 0, 0.1);
    // 0px 4px 10px 1px #b3b3b3;
    -webkit-box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
// hover effect for both scrollbar area, and scrollbar 'thumb'
::-webkit-scrollbar:hover {
    background-color: rgba( 0, 0, 0, 0.20 );
}
 
// The scrollbar 'thumb' ...that marque oval shape in a scrollbar
::-webkit-scrollbar-thumb:vertical {
    background: rgba( 0, 0, 0, 0.5 );
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px; // Prevent it from getting too small
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba( 0, 0, 0, 0.61 );
    -webkit-border-radius: 100px;
}