@import './scrollbar.scss';
.language-dropdown {
    position: absolute;
    right: 10%;
    top: 10%;
    text-align: right;
    .cmx-button {
        &.cmx-button--text--icon {
            margin-top: 10px;
            margin-right: 14px;
            color: white;
        }
       .cmx-icon-chatbot {
            &::after {
                content: " ";
                background: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path d='M8.14795515,27 L3,27 L3,5.33333333 C3,2.95 4.95,1 7.33333333,1 L29,1 L29,22.6666667 C29,25.05 27.05,27 24.6666667,27 L15.5160752,27 L8.14795515,31.6041614 L8.14795515,27 Z M9.5,15 C10.3284271,15 11,14.3284271 11,13.5 C11,12.6715729 10.3284271,12 9.5,12 C8.67157288,12 8,12.6715729 8,13.5 C8,14.3284271 8.67157288,15 9.5,15 Z M15.5,15 C16.3284271,15 17,14.3284271 17,13.5 C17,12.6715729 16.3284271,12 15.5,12 C14.6715729,12 14,12.6715729 14,13.5 C14,14.3284271 14.6715729,15 15.5,15 Z M22.5,15 C23.3284271,15 24,14.3284271 24,13.5 C24,12.6715729 23.3284271,12 22.5,12 C21.6715729,12 21,12.6715729 21,13.5 C21,14.3284271 21.6715729,15 22.5,15 Z' fill='#ffffff'/></svg>");
                background-size: cover;
                display: inline-block;
                height: 14px;
                width: 14px;
            }
       }
    }
}

.removeScroll {
    overflow-y: auto;
}

// DLS Customizations
:host ::ng-deep cmx-login {
    .button {
        text-transform: none;
        border: 0;
    }
}

:host ::ng-deep cmx-dropdown {
    display: block;
    .cmx-dropdown__placeholder {
        color: #fff;
        font-size: 14px;
        svg {
            width: 14px;
            height: 10px;
        }
    }
    .dropdown-item {
        width: auto;
        padding: 10px 16px;
        display: inline-flex;
        &:hover {
            background: transparent;
        }
        &::before {
            width: 0px;
        }
        white-space: normal;
    }
    .dropdown-items {
        @include cmx-scrollbar;
    }
}

.login-wrapper {
    width: 25rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 70px auto;
    height: 45rem;
}

.message-wrapper {
    height: 51px;
    width: 100%;
    background-color: #FBB03B;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 16px;
    span,
    b {
        height: 19px;
        line-height: 16px;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-size: 14px;
    }
    .icon {
        font-size: 20px;
        position: relative;
        top: 3px;
    }
}

@media only screen and (max-width: 576px) {
    .login-wrapper {
        width: 100%;
    }
    .language-dropdown {
        position: absolute;
        right: unset;
        top: unset;
    }
}
