<div [ngSwitch]="message.type">
  <cmx-message-text
    *ngSwitchCase="'text'"
    [message]="message"
  ></cmx-message-text>
  <cmx-message-list
    *ngSwitchCase="'list'"
    [message]="message"
    (sendMessage)="onSendMessage($event)"
  ></cmx-message-list>
  <cmx-message-detail
    *ngSwitchCase="'detail'"
    [message]="message"
  ></cmx-message-detail>
  <cmx-message-carousel
    *ngSwitchCase="'carousel'"
    [message]="message"
    (sendMessage)="onSendMessage($event)"
  ></cmx-message-carousel>
</div>

