<div
  [ngClass]="{
    'cmx-message-wrapper roboto-light cmx-new': true,
    'cmx-message-personal' : isUserMessage()
  }">
  <div *ngIf="message.showDate" class="cmx-timestamp roboto-medium">
    {{ message.sentAt | date:'fullDate' }}
  </div>
  <i *ngIf="isBotMessage()" class="cmx-avatar">
    <cmx-bot-avatar class="cmx-avatar-bot"></cmx-bot-avatar>
  </i>
  <ng-content></ng-content>
  <i *ngIf="showAvatar() && isUserMessage()" class="cmx-avatar">{{ message.userInitials }}</i>
</div>

