<div class="permission-request col-md-12">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs">
    </breadcrumbs>
    <h1 id="cmx-title-request-permission">{{ translationService.pt('views.requestPermission.lblRequestPermissions') }}</h1>
    <div class="spacer-24"></div>
    <div #permissionsContainer></div>
    <div class="spacer-48"></div>
</div>
<div #scrollableDiv class="scrollable-div"></div>

<buttons-footer>
    <button id="cmx-btn-add-permission-PERMISSION-REQUEST" cmx-button color="support" [disabled]="!canAssignNewPermission" (click)="addPermissionRow()">
        {{ translationService.pt('views.requestPermission.btnRequest') }}
    </button>
    <button id="cmx-btn-submit-PERMISSION-REQUEST" cmx-button (click)="submitPermissionRequest()" [disabled]="!permissonIsCompleted || !hasPendingChanges">
        {{ translationService.pt('views.global.btn_submit') }}
    </button>
</buttons-footer>

<cmx-dialog data-tid="permission-request-modal-success" templateId="PERMISSION-REQUEST" #successModal [rtl]="isRTL" maxWidth="700px"
    maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.requestPermission.submitSuccess') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="permission-request-modal-success" #errorModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
        <cmx-dialog-body>
            <div class="modal-content">
                <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
                <div class="spacer-8"></div>
                <span class="modal-text">{{ errorMsg }}</span>
            </div>
        </cmx-dialog-body>
    </cmx-dialog>

<cmx-dialog data-tid="permission-request-modal-warning" templateId="PERMISSION-REQUEST" #pendingChangesWarningModal [enableFooter]="true"
    [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.requestPermission.submitConfirm') }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <button data-tid="permission-request-btn-cancel" cmx-button color="support" (click)="pendingChangesWarningModal.close()">{{ translationService.pt('views.requestPermission.btnCancel') }}</button>
        &nbsp;
        <button data-tid="permission-request-btn-ok" cmx-button (click)="leaveRoute()">{{ translationService.pt('views.requestPermission.btnOk') }}</button>
    </cmx-dialog-footer>
</cmx-dialog>
