.profile-box {
    min-height: 6.25rem;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    padding: 1.0625rem;
    color: #001B3A;
    h6 {
        word-break: break-all;
        &.normal {
            font-weight: normal;
        }
    }
    h5 {
        &.normal {
            font-weight: normal;
            text-transform: unset;
        }
    }
    &__avatar-container {
        padding-right: 0;
        max-width: 5rem;
    }
    &__avatar {
        border-radius: 50%;
        width: 3.75rem;
        height: 3.75rem;
    }
    &--end {
        text-align: end;
    }
    &--display-grid {
        display: grid;
    }

    .pb-actions {
      padding: 0;
      margin: 0;
      list-style-type: none;
      > li {
        float: left;
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
}

.cmx-icon-protected {
    font-size: 18px;
}
