html[dir="rtl"] .mobile-listed-entries {
    .row {
        font-size: $font-size-14;
    }
}

html[dir="rtl"] .mobile-table-row {
    background: $true-white;
    border-radius: $radius-3;
    font-size: $font-size-14;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    
    .mobile-table-row-padding {
        padding: 16px;
    }

    .row {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

html[dir="rtl"] .mobile-table-row-actions {
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0;

    a:first-child {
        margin-right: 24px;
    }
}