.rowli {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5px;
}

.iconWidth {
    width: 20px;
    width: 20px;
    min-width: 20px;
}

.cmx-icon-check {
    color: green;
}

.cmx-popover:after {
    display: none;
}


.cmx-popover {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    width: 100%;
    font-size: 12px;
    z-index: 9999;
    margin-bottom: 10px;
    position: absolute;
    &__header {
        font-weight: 500;
        border-radius: 2px;
        padding: 0.625rem 0.75rem;
        background: #FFF;
        color:#292b2c;
        font-size: 12px;
    }
    &__body {
        padding: 1rem;          
    }
}

.disable-control {
    pointer-events: none;
    opacity: 0.7;
}
