<div style="display: flex;place-content: center;">
    <div class="col-12 col-md-8 col-lg-8 text-center">
        <div class="no-info-container no-info-container__content">
            <div id="cmx-title-no-info-{{templateId}}" class="no-info-container__content--bold">{{title}}</div>
            <ng-content></ng-content>
            <div class="no-info-container__button-container">
                <button id="cmx-btn-no-info-action-{{templateId}}" class="button no-info-container__button" (click)="onClick()"
                    *ngIf="showButton">{{ buttonText }}</button>
            </div>
        </div>
    </div>
</div>