.no-info-container {
    box-sizing: border-box;
    min-height: 300px;
    border: 1px solid #979797;
    padding: 70px;
    &__content {
        display: block;
        color: #333333;
        font-size: 26px;
        &--bold {
            font-weight: bold;
        }
    }
    &__button-container {
        display: inline-block;
        position: absolute;
        top: 94%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    &__button {
        text-transform: uppercase;
        font-size: 16px;
        border: 10px solid #F4F6F9;
        text-transform: capitalize;
        box-shadow: none;
        outline: none;
    }
}

@media screen and (min-width: 527px) and (max-width :768px) {
    .no-info-container {
        box-sizing: border-box;
        &__content {
            font-size: 14px;
        }
    }
}

.hidden {
    display: none;
}