ul#strengthBar {
    position: absolute;
    width: 100%;
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    display: inline-block;
    height: 3px;
    width: 25%;
    -webkit-margin-end: -4px;
}

.indicator {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    width: 22%;
    -webkit-margin-start: -15px;
    text-align: end;
}