<div id="strength" #strength>
    <ul id="strengthBar">
        <li class="point" [style.background-color]="bar0"></li>
        <li class="point" [style.background-color]="bar1"></li>
        <li class="point" [style.background-color]="bar2"></li>
        <li class="indicator" [style.color]="statusColor">{{t.pt(status)}}</li>

    </ul>
</div>