.edit-permission {
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.1);
    min-height: 3.75rem;
    border-radius: 3px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    &__counter {
        text-align: center;
    }
    &__icon-delete-container {
        text-align: center;
        cursor: pointer;
    }
}

//DLS Customizations
:host ::ng-deep cmx-dropdown.cmx-input {
    .cmx-dropdown__wrapper {
        margin-top: 0px !important;
    }
    .cmx-dropdown__placeholder {
        font-weight: normal !important;
    }
}

:host ::ng-deep cmx-dropdown.disabled {
    pointer-events: none;
    cursor: not-allowed;
    .cmx-dropdown__wrapper {
        background-color: #D6D6D6 !important;
    }
}

.cmx-icon-delete {
    font-size: 20px;
    line-height: 1;
    color: #3FA9F5
}