<div class="edit-permission">
    <div class="col-md-3">
        <cmx-dropdown id="cmx-dropdown-edit-permission-application-dropdown" [placeholder]="translationService.pt(permission?.applicationName)" [rtl]="isRTL" [closeOnClick]="true" class="cmx-input"
            [class.disabled]="true" *ngIf="!isDigitalAdmin">
        </cmx-dropdown>
        <div *ngIf="isDigitalAdmin">
            {{translationService.pt(permission?.applicationName)}}
        </div>
    </div>
    <div class="col-md-8">
        <cmx-dropdown #rolesDropdown [placeholder]="rolePlaceholder" [rtl]="isRTL" [closeOnClick]="false" class="cmx-input" *ngIf="!isDigitalAdmin">
            <ng-container *ngFor="let role of permission?.rolesViewModel">
                <cmx-dropdown-item disableTick="true">
                    <cmx-checkbox id="cmx-checkbox-role-{{role?.roleCode}}-{{templateId}}" [rtl]="isRTL" [checked]="role?.assigned" (change)="toggleRole($event,role)">
                        {{ translationService.pt(role.roleCode) }}</cmx-checkbox>
                </cmx-dropdown-item>
            </ng-container>
        </cmx-dropdown>
        <div *ngIf="isDigitalAdmin">
            {{rolePlaceholder}}
        </div>
    </div>
    <div class="col-md-1 edit-permission__icon-delete-container " *ngIf="!isDigitalAdmin">
        <span class="cmx-icon-delete" (click)="removePermission()" id="cmx-btn-remove-application-{{counter}}-{{templateId}} "></span>
    </div>
</div>
<div class="spacer-16 "></div>