.mobile-filtering-box {
    background: $true-white;
    border-top: 2px solid $true-red;

    .filter-search {
        width: 100%;
        border-bottom: 1px solid #dadada;

        span {

            display: inline-block;
            width: 48px;
            float: left;

            svg {
                width: 18px;
                margin: 12px 14px 3px 14px;
            }
        }

        input[type="search"] {
            border:0;
            width: calc(100% - 50px);
            display: inline-block;
            height: 48px;
            line-height:48px;

            &:focus {
                outline: 0 none;
            }
        }
    }

    .results-listing {
        height: 280px;
        overflow-y: scroll;

        .results-listing-item {
            padding: 10px 16px;
            font-size: $font-size-14;
            line-height: $line-height-18;
        }

        .results-listing-item-name {
            color: #1a1a1a;
        }

        .results-listing-item-detail {
            color: #888;
        }
    }
}