.mobile-lightbox-container {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    z-index: 101;
    top: 50px;
    left: 0;
    background: $true-white;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;

    p {
        font-size: $font-size-14;
    }
}

.lightbox-bottom {
    position: absolute;
    z-index: 102;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 8px 0;
    background: $true-white;
    box-shadow: 0 -2px 2px rgba(0,0,0,0.25);
    text-align: right;

    a {
        margin-right: 16px;
        float: right;
    }
}