.mobile-modal-bg {
    width: 100%;
    height: 100%;
    position: absolute; // this will need to be changed to fixed
    z-index: 4;
    top: 0;
    left: 0;
    background: $true-white;
}

.mobile-modal-wrap {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;

    .mobile-modal-top {
        height: 46px;
        width:100%;

        a {
            display: inline-block;
            float: right;
            margin: 10px;

            svg {
                width: 20px;
            }
        }
    }

    .mobile-modal-content {
        height: calc(100% - 116px);
        overflow-y: scroll;
        width: 100%;
        padding: 24px;

        h2 {
            font-weight: bold;
            font-size: $font-size-24;
            margin-bottom: 16px;
        }
    }

    .mobile-modal-bottom {
        height: 64px;
        width: 100%;
        border-top: 1px solid #ccc;
        text-align: right;
        padding: 16px;
        position: absolute;
        bottom: 0;
        background: $true-white;

        a {
            margin-left: 16px;
        }
    }
}

.mobile-modal-wrap-message {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;

    .mobile-modal-top {
        height: 46px;
        width:100%;

        a {
            display: inline-block;
            float: right;
            margin: 10px;

            svg {
                width: 20px;
            }
        }
    }

    .mobile-modal-content {
        height: auto;
        overflow-y: none;
        width: 100%;
        padding: 24px;

        h2 {
            font-weight: bold;
            font-size: $font-size-24;
            margin-bottom: 16px;
        }

        .message-icon {
            text-align: center;
        }

        svg {
            fill: $bright-green;
            width: 120px;
            height: 120px;
        }

        p {
            font-size: $font-size-20;
            line-height: $line-height-24;
            text-align: center;
        }
    }

    .mobile-modal-bottom {
        height: 64px;
        width: 100%;
        border-top: 1px solid #ccc;
        text-align: right;
        padding: 16px;
        position: absolute;
        bottom: 0;
        background: $true-white;

        a {
            margin-left: 16px;
        }
    }
}

.mobile-modal-wrap-form {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;

    .mobile-modal-top {
        height: 46px;
        width:100%;

        a {
            display: inline-block;
            float: right;
            margin: 10px;

            svg {
                width: 20px;
            }
        }
    }

    .mobile-modal-content {
        height: auto;
        overflow-y: none;
        width: 100%;
        padding: 24px;

        h2 {
            font-weight: bold;
            font-size: $font-size-24;
            margin-bottom: 16px;
        }

        p {
            font-size: $font-size-14;
            line-height: $line-height-16;
            font-weight: bold;
            text-align: left;
        }

        textarea {
            min-height: 180px;
        }
    }

    .mobile-modal-bottom {
        height: 64px;
        width: 100%;
        border-top: 1px solid #ccc;
        text-align: right;
        padding: 16px;
        position: absolute;
        bottom: 0;
        background: $true-white;

        a {
            margin-left: 16px;
        }
    }
}