.mobile-nav {
    width: 100%;
    height: 48px;
    background: $true-blue;
}

.mobile-nav-items {
    width: 100%;
    min-height: 48px;
    position: relative;

    .burger-menu {
        width:48px;
        height: 48px;
        display: inline-block;

        a {
            display: inline-block;
            padding: 13px 16px;

            svg {
                width: 18px;
                height: 13px;
                fill: $true-white;
            }
        }
    }

    #cmx-logo {
        width: 88px;
        height: 48px;
        margin: 0 auto;
        position: absolute;
        top:0;
        left: 50%;
        margin-left: -50px;

        a {
            width: 88px;
            height: 48px;
            display: inline-block;
            margin:0 auto;

            svg {
                width: 88px;
                height: 48px;
                fill: $true-white;
            }
        }	
    }

    .search-menu {
        width:48px;
        height: 48px;
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;

        a {
            width: 48px;
            height: 48px;
            padding: 12px;
            display:inline-block;

            svg {
                fill: $true-white;
                padding: 3px;
            }	
        }
    }
}

.sub-nav-loader {
    width: 100%;
    height: 2px;
    background: $true-red;

    @keyframes slideInFromLeft {
        0% {
            transform: scaleX(0);
            transform-origin: left;
        }
        100% {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    animation: 1.5s ease-out 0.5s 1 slideInFromLeft;
    
}