﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>@ViewData["Title"]</title>
        <link rel="manifest" href="/manifest.json">
        <base href="/" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="~/dist/assets/styles/custom.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/dist/dls/dls.bundle.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/dist/assets/cemex-loader.min.css" rel="stylesheet" asp-append-version="true"/>
        <link href="https://www.cemexgo.com/cdn/cmx-dls-icons.css" rel="stylesheet" asp-append-version="true"/>
        <link href="https://www.cemexgo.com/cdn/cmx-fonts.css" rel="stylesheet" asp-append-version="true"/>
         <script>
        window.paceOptions = {
            ajax: {
                trackMethods: ['GET', 'POST', 'PATCH'],
                trackWebSockets: true,
                ignoreURLs: [
                    'google', 
                    'googleapis',
                    'gstatic',
                    'QuotaService', 
                    'csi', 
                    'csi.gstatic.com', 
                    'count.ly',
                    'searchs',
                    'contacts',
                    'shareorder',
                    'issues',
                    'documents',
                    'mylegalentities',
                    'dc.services.visualstudio.com',
                    'https://cemexbot.cemobile.eu/api',
                    'https://directline.botframework.com/',
                    'https://s3.us-east-2.amazonaws.com',
                    's3.amazonaws.com'

                ]
            },
            eventLag: false,
            document: false
        }
        </script>
         <script src="~/dist/assets/pace.min.js"></script>
         <script src="https://s3.us-east-2.amazonaws.com/build-artifacts.bots-platform.com/wizeline-botframework-webchat/cemex/botchat.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
