<div class="col-md-12 action-log">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <h1 id="cmx-action-log-pagetitle-lbl">{{ translationService.pt('views.actionLog.actionLogHistory') }}</h1>
    <div class="spacer-16"></div>
    <div *ngIf="_logEntries | async as entries">
        <action-log-table [isRTL]="isRTL" [logs]="entries" *ngIf="entries?.length > 0" (onOpenNotes)="openNotes($event)"></action-log-table>
        <span *ngIf="entries?.length === 0">{{ translationService.pt('views.actionLog.lblNoLogs') }}</span>
    </div>
    <div class="spacer-32"></div>
</div>

<buttons-footer>
    <button id="cmx-btn-back-ACTION-LOG" cmx-button color="support" (click)="backToEdit()">
        {{ translationService.pt('message.btn_back') }}
    </button>
</buttons-footer>

<cmx-dialog data-tid="action-log-notes-modal" templateId="action-log-notes-modal" #actionLogNotesModal [enableFooter]="true"
    [rtl]="isRTL">
    <cmx-dialog-body>
        <h1>{{translationService.pt('views.actionLog.' + notesLog?.action?.trim())}}</h1>
        <div class="spacer-24"></div>
        <div class="row no-gutters">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h6>{{ translationService.pt('views.actionLog.lblAttendedBy')}}</h6>
                <h6 class="roboto-regular">{{notesLog?.executedBy}}</h6>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h6>{{ translationService.pt('views.actionLog.lblDate') }}</h6>
                <h6 class="roboto-regular">{{notesLog?.entryDate | cmxDateMoment}}</h6>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h6>{{ translationService.pt('views.actionLog.lblTime') }}</h6>
                <h6 class="roboto-regular">{{notesLog?.entryDate | date: 'HH:mm'}}</h6>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <div class="spacer-24"></div>
        <span class="table-entry-strong">{{ translationService.pt('views.actionLog.lblDescription') }}</span>
        <div class="spacer-8"></div>
        <div *ngIf="isJobsites || isCustomers">
            <span class="table-entry-strong">{{translationService.pt('views.profile.table_code')}}</span>
            <div>
                <h6 class="roboto-regular">{{notesLog?.notes}}</h6>
            </div>
        </div>
        <div *ngIf="isKey">
            <div *ngFor="let appRole of aplicationRoles">
                <h6 class="roboto-regular">{{translationService.pt(appRole.trim())}}</h6>
            </div>
        </div>
        <div *ngIf="isJSON">
            <div *ngFor="let obj of objectJson" class="row no-gutters">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <h6>{{ translationService.pt('views.actionLog.' + obj.data) }}</h6>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <h6 class="roboto-regular">{{obj.value}}</h6>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6"></div>
            </div>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div [ngStyle]="{'text-align': isRTL ? 'left' : 'right'}">
            <button cmx-button (click)="actionLogNotesModal.close()" id="cmx-btn-ok-notes-ACTION-LOG">
                {{translationService.pt('views.actionLog.btnOk') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>