<div class="container-fluid">
    <div class="row jumbotron">
        <div class="offset-md-1 col-md-11">
            <h1>{{translationService.pt('views.errorCodes.OutOfServiceN500')}}</h1>
            <h2>Error: N500</h2>
            <p>
                {{translationService.pt('views.severalError.ContactAdmin')}}
            </p>
            <div>
                <button cmx-button (click)="goHome()">
                    {{translationService.pt('views.severalError.GoHome')}}
                </button>  
            </div>
        </div>
    </div>
</div>