<cmx-dialog #jobsite enableFooter="true" minWidth="1130px" maxWidth="1130px" width="1130px"  height="600px" minHeight="600px"  maxHeight="600px" [enableClose]="false" [rtl] = "isRTL">
    <cmx-dialog-body>
        <h2 id="cmx-title-jobsite-modal" class="text-center" *ngIf="!isRequest">{{t.pt('views.userManagement.addLocations')}}</h2>
        <h2 id="cmx-title-jobsite-modal" class="text-center" *ngIf="isRequest">{{t.pt('views.requestData.lblRequestAccesses')}}</h2>
        <div class="spacer-32"></div>
        <div class="row no-gutters">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span id="cmx-title-jobsite-modal-1" class="input-text" style="font-weight:500" *ngIf="!isRequest"> {{t.pt('views.userManagement.selectLocations')}} </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4"  >
                <div style="max-width: 350px;">
                    <search (onSearch)="updateSearchTerm($event)" [placeholder]="'views.admin.console.search'"
                    templateId="jobsite-modal-{{templateId}}" #searchModalJobsites></search>
                </div>
               
            </div>
        </div>
        <div class="row no-gutters" >
            <div class="col-md-8 col-sm-8 col-xs-8">
                <cmx-slide-toggle  [rtl]="isRTL" (toggle)="toggleSelectall($event)" *ngIf="!isRequest" [checked]="selectallIsChecked" id="cmx-toggle-select-all-{{templateId}}">
                    {{t.pt('views.userManagement.slider.allLocation')}}
                </cmx-slide-toggle>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="font-style: italic; text-align: right; font-size: 13px;max-width: 300px;">
                <span id="cmx-title-jobsite-select-count" class="input-placeholder">{{selectedJobsitesLabel}}</span>
            </div>
        </div>
        <span class="cmx-icon-warning-repeat font-bright-blue" aria-hidden="true" *ngIf="!isRequest">
            <span class="input-placeholder" style="font-size: 12px">{{t.pt('views.userManagement.info.allLocations')}}</span>
        </span>
        <div class="table-jobsite">
            <jobsites-table [jobsites]="filteredJobsites" [selectedJobsites]="selectedJobsites" *ngIf="filteredJobsites?.length > 0" (onJobsitesToggled)="updateSelectedJobsites($event)"
                [showCheckboxes]="true" [showDelete]="false" templateId="JOBSITE-MODAL" #jobsiteTable [isRTL]="isRTL" [showFilter]="false">
            </jobsites-table>
            <div id="cmx-result-not-jobsite-{{templateId}}" *ngIf="filteredJobsites?.length === 0 " class="text-center">
                <span class="input-text"> {{t.pt('views.userManagement.noJobsites')}} </span>
            </div>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end">
            <button cmx-button color="support" (click)="close()" id="cmx-btn-cancel-jobsite-modal-{{templateId}}">
                <span>{{t.pt('views.signin.cancel')}}</span>
            </button>
            <button cmx-button (click)="assign()" id="cmx-btn-assign-jobsite-modal-{{templateId}}" *ngIf="josbites?.length !== 0 && !isRequest">
                <span>{{t.pt('views.global.btn_assign')}}</span>
            </button>
            <button cmx-button (click)="requestJobsites()" id="cmx-btn-request-jobsite-modal-{{templateId}}" *ngIf="isRequest">
                <span>{{t.pt('views.requestData.btnOk')}}</span>
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog id="warning-JOBSTE-MODAL" #customerJob height="460px" minHeight="460px" enableFooter="true" [rtl] = "isRTL" >
    <cmx-dialog-body>
        <div class="text-center" id="cmx-modal-body-center-warning-JOBSITE-MODAL">
            <span class="modal-icon modal-success-icon cmx-icon-warning-repeat font-bright-blue"></span>
            <div class="spacer-8"></div>
            <h3 id="cmx-modal-warning-location-title-all-JOBSITE-MODAL">{{t.pt('views.userManagement.info.title.all.jobsite')}}</h3>
            <div class="spacer-16"></div>
            <h3 id="cmx-modal-warning-location-msg-all-JOBSITE-MODAL">{{t.pt('views.userManagement.info.msg.all.jobsites')}}</h3>
            <div class="spacer-32"></div>
            <h3 class="font-medium-grey" id="cmx-modal-warning-location-continue-all-JOBSITE-MODAL">{{t.pt('views.userManagement.info.continue.all.jobsites')}}</h3>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end" >
            <button cmx-button color="support" (click)="cancelWarning()" id="cmx-btn-close-warning-JOBSITE-MODAL">
                {{t.pt('views.signin.cancel')}}
            </button>
            <button cmx-button color="primary" (click)="continueWarning()" id="cmx-btn-continue-JOBSITE-MODAL">
                {{t.pt('views.userManagement.btn_continue')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>
