<template>
    <nav class="cmx-main-nav">
        <div class="cmx-logo">
            <a class="cmx-logo__link" href="index-rtl.html">
                <svg class="cmx-logo__image">
                    <use xlink:href="#cmx-logo"></use>
                </svg>
            </a>
        </div>
        <!-- end cmx-logo -->
        <div class="cmx-main-nav__items">
            <div class="cmx-main-nav__item nav-notifications-item">
                <div class="cmx-notifications popout__toggle" data-popout-target="#notificationsPopout">
                    <div class="cmx-main-nav__icon-label hidden-xs-down">הוֹדָעָה</div>
                    <div class="cmx-main-nav__icon cmx-main-nav__icon--alert">99</div>
                </div>
                <div id="notificationsPopout" class="cmx-notifications__container popout popout--bottom-left hidden">
                    <div class="cmx-notifications__list">
                        <div class="cmx-notifications__entry">
                            <div class="cmx-notifications__entry-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </div>
                            <div class="cmx-notifications__entry-data">
                                <h4 class="cmx-notifications__entry-title">מידע ללקוחות</h4>
                                <p class="cmx-notifications__entry-text">החווה ויילדר ראנץ 'פשוט נוצר. האם ברצונך לבצע הזמנה?</p>
                                <a class="cmx-notifications__entry-cta" href="#">להזמין</a>
                            </div>
                            <!-- end notifications__entry-data -->
                        </div>
                        <!-- end notifications__entry -->

                        

                        <div class="cmx-notifications__entry">
                            <div class="cmx-notifications__entry-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </div>
                            <div class="cmx-notifications__entry-data">
                                <h4 class="cmx-notifications__entry-title">הצעת מחיר ומחיר</h4>
                                <p class="cmx-notifications__entry-text">2311112 - Rideback במזרח עמק הנהר יש לך ציטוט חדש מוכן לבדיקה.</p>
                                <a class="cmx-notifications__entry-cta" href="#">סקירה</a>
                            </div>
                            <!-- end notifications__entry-data -->
                        </div>
                        <!-- end notifications__entry -->

                        

                        <div class="cmx-notifications__entry">
                            <div class="cmx-notifications__entry-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </div>
                            <div class="cmx-notifications__entry-data">
                                <h4 class="cmx-notifications__entry-title">לעקוב ולאתר</h4>
                                <p class="cmx-notifications__entry-text">המשלוח עבור Wilder Ranch Orinda נמצא בסכנה עקב תאונה על הכביש המהיר ללא נתיב יציאה.</p>
                                <a class="cmx-notifications__entry-cta" href="#">לנהל</a>
                            </div>
                            <!-- end notifications__entry-data -->
                        </div>
                        <!-- end notifications__entry -->
                    </div>
                    <!-- end notifications__list -->
                    <a class="cmx-notifications__main-call-to-action" href="">הצג את כל ההודעות</a>
                </div>
                <!-- end .notifications__container -->
            </div>
            <div class="cmx-main-nav__item-separator"></div>
            <div class="cmx-main-nav__item cmx-user-menu">
                <div class="cmx-user-menu__icon popout__toggle" data-popout-target="#userMenuPopout">
                    <div class="cmx-main-nav__icon cmx-main-nav__icon--inverted">MW</div>
                </div>
                <div id="userMenuPopout" class="cmx-user-menu__container popout popout--bottom-left popout--with-border hidden">
                    <div class="cmx-user-menu__user">
                        <div class="cmx-main-nav__icon cmx-main-nav__icon--regular cmx-user-menu__user-icon">MW</div>
                        <div class="cmx-user-menu__user-details">
                            <h4 class="cmx-user-menu__user-name">מייקל וסרמן</h4><span class="cmx-user-menu__user-email">michael.wassermann@cemex.com</span>
                        </div>
                        <!-- end .user-menu-details -->
                    </div>
                    <div class="cmx-language accordion open" >
                        <div class="cmx-language__heading accordion__heading" role="button">
                            שפה
                        </div>
                        <div class="cmx-language__options accordion__data">
                            <ul class="cmx-language__options-list">
                                <li class="cmx-language__options-item active" role="button">
                                    English
                                </li>
                                <li class="cmx-language__options-item" role="button">
                                    Español
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end .language -->
                    <div class="cmx-user-menu__sign-out">
                        <a class="cmx-user-menu__sign-out-link" href="#">התנתק</a>
                    </div>
                    <!-- end .user-menu__sign-out -->
                </div>
                <!-- end .user-menu-container -->
            </div>
        </div>
        <!-- end .main-nav__items -->
        <div class="cmx-sub-nav-loader"></div>
        <!-- end .sub-nav-loader -->
    </nav>
</template>