<template>
    <nav class="cmx-main-nav">
        <div class="cmx-logo">
            <a class="cmx-logo__link" href="index-rtl.html">
                <svg class="cmx-logo__image">
                    <use xlink:href="#cmx-logo"></use>
                </svg>
            </a>
        </div>
        <!-- end cmx-logo -->
        <div class="cmx-main-nav__items">
            <div class="cmx-main-nav__item nav-notifications-item">
                <div class="cmx-notifications popout__toggle" data-popout-target="#notificationsPopout">
                    <div class="cmx-main-nav__icon-label hidden-xs-down">Notifications</div>
                    <div class="cmx-main-nav__icon cmx-main-nav__icon--alert">99</div>
                </div>
                <div id="notificationsPopout" class="cmx-notifications__container popout popout--bottom-left hidden">
                    <div class="cmx-notifications__list">
                        <div class="cmx-notifications__entry">
                            <div class="cmx-notifications__entry-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </div>
                            <div class="cmx-notifications__entry-data">
                                <h4 class="cmx-notifications__entry-title">Customer Information</h4>
                                <p class="cmx-notifications__entry-text">The jobsite <strong>Wilder Ranch</strong> has just been created. Would you like to place an order?</p>
                                <a class="cmx-notifications__entry-cta" href="#">Order</a>
                            </div>
                            <!-- end notifications__entry-data -->
                        </div>
                        <!-- end notifications__entry -->

                        

                        <div class="cmx-notifications__entry">
                            <div class="cmx-notifications__entry-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </div>
                            <div class="cmx-notifications__entry-data">
                                <h4 class="cmx-notifications__entry-title">Quotation and Pricing</h4>
                                <p class="cmx-notifications__entry-text"><strong>2311112 - Rideback Eastern River Valley</strong> You have a new quotation ready for review.</p>
                                <a class="cmx-notifications__entry-cta" href="#">Review</a>
                            </div>
                            <!-- end notifications__entry-data -->
                        </div>
                        <!-- end notifications__entry -->

                        

                        <div class="cmx-notifications__entry">
                            <div class="cmx-notifications__entry-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </div>
                            <div class="cmx-notifications__entry-data">
                                <h4 class="cmx-notifications__entry-title">Track and Trace</h4>
                                <p class="cmx-notifications__entry-text">The delivery for <strong>Wilder Ranch Orinda</strong> is in jeopardy due to an accident on the interstate with no exit route.</p>
                                <a class="cmx-notifications__entry-cta" href="#">Manage</a>
                            </div>
                            <!-- end notifications__entry-data -->
                        </div>
                        <!-- end notifications__entry -->
                    </div>
                    <!-- end notifications__list -->
                    <a class="cmx-notifications__main-call-to-action" href="">View All Notifications</a>
                </div>
                <!-- end .notifications__container -->
            </div>
            <div class="cmx-main-nav__item-separator"></div>
            <div class="cmx-main-nav__item user-menu">
                <div class="cmx-user-menu__icon popout__toggle" data-popout-target="#userMenuPopout">
                    <div class="cmx-main-nav__icon cmx-main-nav__icon--inverted">MW</div>
                </div>
                <div id="userMenuPopout" class="cmx-user-menu__container popout popout--bottom-left popout--with-border hidden">
                    <div class="cmx-user-menu__user">
                        <div class="cmx-main-nav__icon cmx-main-nav__icon--regular cmx-user-menu__user-icon">MW</div>
                        <div class="cmx-user-menu__user-details">
                            <h4 class="cmx-user-menu__user-name">Michael Wassermann</h4><span class="cmx-user-menu__user-email">michael.wassermann@cemex.com</span>
                        </div>
                        <!-- end .user-menu-details -->
                    </div>
                    <div class="cmx-language accordion open" >
                        <div class="cmx-language__heading accordion__heading" role="button">
                            Language
                        </div>
                        <div class="cmx-language__options accordion__data">
                            <ul class="cmx-language__options-list">
                                <li class="cmx-language__options-item active" role="button">
                                    English
                                </li>
                                <li class="cmx-language__options-item" role="button">
                                    Español
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end .language -->
                    <div class="cmx-user-menu__sign-out">
                        <a class="cmx-user-menu__sign-out-link" href="#">Sign Out</a>
                    </div>
                    <!-- end .user-menu__sign-out -->
                </div>
                <!-- end .user-menu-container -->
            </div>
        </div>
        <!-- end .main-nav__items -->
        <div class="cmx-sub-nav-loader"></div>
        <!-- end .sub-nav-loader -->
    </nav>
</template>