:host ::ng-deep cmx-dialog {
    .cmx-dialog__container{
        z-index: 99999;
        margin-top: 15px;
    }

    .cmx-dialog__background {
        z-index: 99999;
        cursor: not-allowed;
    }
}

:host ::ng-deep customers-table cmx-table {
    .cmx-table-body {
        max-height: 205px;
        height: 205px;
        overflow-y: auto;
    }
    .cmx-header-cell{
        height: 25px;
    }

}
