<cmx-dialog  data-tid="legal-entities-modal"  minWidth="1130px" maxWidth="1130px" width="1130px"  #legalEntities enableFooter="true"  height="600px" minHeight="600px" maxHeight="600px"  [enableClose]="false" [rtl] = "isRTL">
    <cmx-dialog-body>
        <h2 id="cmx-title-legal-entities-modal" class="text-center">{{t.pt('views.userManagement.addLegalEntities')}}</h2>
        <div class="spacer-32"></div>
        <div class="spacer-8"></div>
        <div class="row no-gutters">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span id="cmx-title-legal-entities-modal-1" class="input-text" style="font-weight:500"> {{t.pt('views.userManagement.selectLegalEntities')}} </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div style="max-width: 350px;">
                    <search (onSearch)="updateSearchTerm($event)" [placeholder]="'views.sidebar.lbl_search'" templateId="legal-entitie-{{templateId}}" #searchModalLegalEntities></search>
                </div>
            </div>
        </div>
        <div></div>
        <div class="spacer-24"></div>
        <div>
            <customers-table [showCheckboxes]="true" #legalEntitiesTable [customers]="filteredCustomers" [mainCustomer]="defaulCustomer" 
                [selectedCustomers]="selectedCustomers" (onCustomersToggled)="updSelectedCustomers($event)" [showCheckboxes]="true" [isRTL]="isRTL"
                templateId="legal-entites-modal-{{templateId}}" *ngIf="filteredCustomers?.length !== 0 " [showFilter]="false">
            </customers-table>
            <div id="cmx-result-not-legal-entities-modal-CREATE-USER" *ngIf="filteredCustomers?.length === 0 " class="text-center">
                <span class="input-text"> {{t.pt('views.userManagement.noCustomers')}} </span>
            </div>
        </div>
        <div class="spacer-24"></div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end">
            <button cmx-button color="support" (click)="close()" id="cmx-btn-cancel-legal-entities-modal-{{templateId}}">
                <span>{{t.pt('views.signin.cancel')}}</span>
            </button>
            <button cmx-button (click)="assign()" id="cmx-btn-assign-legal-entities-modal">
                <span>{{t.pt('views.global.btn_assign')}}</span>
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>
    

