.user-management {
    padding-bottom: 5%;
    color: #003876;
    h1 {
        font-size: 30px;
    }
    &__profile-card {
        @media only screen and (max-width: 576px) {
            text-align: center;
        }
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        min-height: 6.25rem;
        border-radius: 2px;
        background-color: #FFF;
        padding: 1.0625rem;
        .cmx-name-col {
            padding-left: 0px;
            padding-right: 0px;
        }
        h2 {
            font-weight: bold;
        }
        h5 {
            text-transform: none;
            font-weight: normal;
        }
        &__avatar-container {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            img {
                border-radius: 50%;
                width: 3.75rem;
                height: 3.75rem;
            }
        }
        &__counter {
            font-size: 40px;
            font-weight: bold;
            line-height: 47px;
        }
        &__counter-desc {
            font-size: 18px;
            color: #003876;
        }
    }
    .users-label-section {
        font-size: 1.25rem;
    }
}

// DLS Customizations
:host ::ng-deep cmx-dropdown {
    .cmx-dropdown__placeholder {
        color: #003876;
        font-size: 1rem;
        svg {
            width: 14px;
            height: 10px;
        }
    }
    .dropdown-item {
        padding: 10px 16px;
    }
    .cmx-dropdown__items-positioner {
        min-width: 200px;
    }
}

.request-dialog {
    color: #003876;
    h5 {
        text-transform: capitalize;
        &.normal {
            font-weight: normal;
        }
    }
    h6 {
        text-transform: capitalize;
        span {
            font-weight: normal;
        }
    }
    &--centered {
        margin: 5% 0;
        text-align: center;
    }
    &--end {
        text-align: end;
    }
    &--hide {
        display: none;
    }
}

:host ::ng-deep cmx-tabs {
    display: block;
    &::before {
        content: none;
    }
}

:host ::ng-deep cmx-table .cmx-table-header {
    padding: 0;
    > div .cmx-header-cell {
      height: auto;
      .cmx-icon__container .cmx-icon-down-single::before {
        color: rgb(63, 169, 245);
      }
    }
  }

:host ::ng-deep cmx-alert {
    .cmx-alert-bar {
        z-index: 1;
    }
}