// START BAR
// _bottom-bar.scss

.cmx-bottom-bar {
    display: flex;
    background: #fff;
    height: 64px;
    width: 100%;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
    padding: 1rem;
    position: fixed;
    right: 0;
    bottom: 24px;
    z-index: 5;

    .cmx-button {
        margin:0 8px;
    }
}

// END BAR DEMO PAGE