.chat{
    &__input{
        background-color: $gray-lighter;
        width: 100%;
        height: 56px;
        padding: 0.875rem 1.5rem;

        input[type="text"] {
            background: none;
            border: 0 none;
            outline: 0 none;
            border-bottom: 1px solid $medium-grey;
            width:100%;
        }
        button{
            position: absolute;
            right: 1.5rem;
            bottom: 0.875rem;
        }
    }
    &__stream {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-bottom: 40px;
    }
    &__bar {
        width: 1px;
        position: absolute;
        top:0;
        bottom:0;
        background-color: #ccc;
    }
    &__center {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    &__bullet{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 3px solid $true-white;
        position: absolute;
        top: 40px;

    }
    &__entry {
        position: relative;
        width: 100%;
        min-height: 60px;
        margin-bottom: 16px;
        clear: both;

        &:nth-child(even){
            .chat__bullet {
                background: $bright-blue;
            }

            .chat__entry-content {
                margin-right: 0;
                float: right;
                background: $bright-blue;
                color: $true-white;
            
                h6 {
                    color: $true-white;
                }
            }
        }
        &:nth-child(odd){
            .chat__bullet {
                background: $gray-lightest;
            }
            .chat__entry-body {
                &::before {
                    content: '';
                    position: absolute;
                    top: 40px;
                    right: auto;
                    left: 100%;
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left: 8px solid #F4F6F9;
                    border-right: transparent;
                }	
            }
        }

        &-content {
            width: 47%;
            float: left;
            font-size: $font-size-12;
            line-height: $line-height-16;
            background-color: #F4F6F9;
            color: $dark-grey;
        }
        &-header {
            background: $true-white;
            color: $dark-grey;
            float: left;
            clear: both;
            width: 100%;
            padding-bottom: 8px;
            margin-bottom: 16px;
        
            h6 {
                color: $dark-grey;
            }
        
            .time {
                float: left;
            }
        
            .author {
                float: right;
                font-weight: $font-bold;
            }
        }
        &-body {
            padding: 16px 24px;
            position: relative;
        
            h6 {
                text-transform: uppercase;
                font-size: $font-size-10;
                color: $medium-grey;
                display: inline-block;
            }
        
            &::before {
                content: '';
                position: absolute;
                top: 40px;
                left: auto;
                right: 100%;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 8px solid $bright-blue;
                border-left: transparent;
            }
        }
    }
}


// change the look of the chat-modal on small screens

@media (max-width: 48rem) {

    .chat{
        &__center {
            display: none;
        }
        &__entry {
            margin-bottom: 24px;
            float: right;

            &:nth-child(even){
                .chat__entry{
                    &-content {
                        float: right;
                        margin-right: 10px;
        
                        &::before {
                            display: none;
                        }
                    }
                    &-body {
                        &::before {
                            content: '';
                            position: absolute;
                            top: 40px;
                            right: auto;
                            left: 100%;
                            width: 0;
                            height: 0;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-left: 8px solid $bright-blue;
                            border-right: transparent;
                        }
                    }
                }
            } 

            &:nth-child(odd){
                .chat__entry{
                    &-content {
                        margin-left: 10px;
        
                        &::before {
                            display: none;
                        }
                    }
                    &-body {
                        &::before {
                            content: '';
                            position: absolute;
                            top: 40px;
                            left: auto;
                            right: 100%;
                            width: 0;
                            height: 0;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right: 8px solid #F4F6F9;
                            border-left: transparent;
                        }
                    }
                }
            }

            &-content {
                width: 90%;
                float: none;
                font-size: $font-size-14;
            }
        }
    }
}

// end .modal-chat