.cmx-form-field{
    position: relative;
}
input {
    &[type=checkbox] {
        position: absolute;
        opacity: 0;
        z-index: 1;
        width: 16px;
        height: 22px;
        margin-right: 0.375rem;

        & + label{
            display: inline-flex;
            align-items: center;
            position: relative;
            height:16px;
            &::before{
                content:" ";
                display:inline-block;
                width:16px;
                height: 16px;
                box-sizing: border-box;
                border-width: 1px;
                border-color: $gray-lightish;
                border-style: solid;
                border-radius: 1px;
                margin-right: 0.375rem;
            }
        }
        
        &:hover,
        &:focus {  
            & + label{
                &::before{
                    background-color: $table-highlight-grey;
                }
            }
        }

        &:checked {
            & + label{
                &::before{
                    background-color: $bright-blue;
                    border-color: $bright-blue;
                }
                &::after {
                    content: ' ';
                    top: 4px;
                    left: 3px;
                    position: absolute;
                    width: 10px;
                    height: 6px;
                    border-left: 2.5px solid $true-white;
                    border-bottom: 2.5px solid $true-white;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-45deg);
                }
            }
        }

        &.error { 
            & + label{
                &::before{
                    border-color:$true-red;
                }
            }
        }

        &[disabled] {
            & + label{
                &::before{
                    background-color: $disabled-grey;
                }
            }
        }
    }
}