// DASHBOARD MODULES PAGE

.dash-panel {
    width: 100%;
    min-height: 280px;
    background: $true-white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: $radius-2;
    display: flex;
    flex-direction: column;

    &__header {
        position: relative;
        background: $deep-blue;
        height: 2rem;
        line-height: 2rem;
        color: $true-white;
        display:flex;
        align-items: center;
        flex:0 0 auto;

        &-icon{
            flex: 0 0 auto;
            font-size: 1.25rem;
            line-height: 1.25rem;
            width:2rem;
            text-align: center;
        }

        &-title {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }
    }

    &__body {
        flex: 1 1 auto;
    }
    &__cta{
        margin: 0 1rem;
        border-top: 1px dashed $disabled-grey;
        flex: 0 0 auto;
        height: 2.625rem;
        line-height: 2.625rem;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}