.cmx-date-picker {
    width: 320px;
    min-height: 240px;
    background: $true-white;
    border-radius: $radius-2;
    font-weight: $font-bold;
    border-top: 3px solid $bright-blue;
    box-shadow: 0 5px 20px rgba(0,0,0,0.14);
    padding: 8px;

    &__header,
    &__body {
        width: 100%;
        text-align: center;
    }
    &__days-grid {
        width: 100%;

        &-row{
            display: flex;
            padding: 4px 0;
            height: 26px;
            box-sizing: content-box;
            width: 100%;
        }

        &-cell {
            display: block;
            flex: 1 1 auto;
            min-width: 36px;
            width: 36px;
            height: 26px;
            font-size: $font-size-12;
            padding: 0px;
            text-align: center;
            color: $deep-blue;
        }
        
        .cmx-active-start {
            background: rgba(63, 169, 245, 0.2);
            &.first{
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 51%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
            }
            &.last{
                background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 51%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
            }
        }
        .cmx-active-end {
            background: rgba(63, 169, 245, 0.2);
            &.first{
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 51%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
            }
            &.last{
                background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 51%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
            }
        }
        .cmx-in-range {
            background: rgba(63, 169, 245, 0.2);
        }
        .cmx-end-range {
            .cmx-date-picker__day{
                border-radius:50%;
            }
            &.last{
                background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 50.01%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                
                .cmx-date-picker__day{
                    background: linear-gradient(to right, rgba(63, 169, 245, 0.2) 0%,rgba(63, 169, 245, 0.2) 50%,rgba(63, 169, 245, 0) 50.01%,rgba(63, 169, 245, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
            }
            &.first{
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 50.01%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                
                .cmx-date-picker__day{
                    background: linear-gradient(to left, rgba(63, 169, 245, 0.2) 0%,rgba(63, 169, 245, 0.2) 50%,rgba(63, 169, 245, 0) 50.01%,rgba(63, 169, 245, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
            }
        }
    }

    &__day{
        color: #001B3A;
        display: inline-block;
        width: 26px;
        height: 26px;
        line-height: 26px;
        background: none;
        padding: 0;
        border: none;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 700;
        
        &:hover,
        &.hover {
            color: $bright-blue;
        }

        &:focus{
            outline:0;
        }

        &.active {
            outline: 0;
            color: $true-white;
            background: $bright-blue;
            border: 1px solid $bright-blue;
            border-radius: 100%;
        }



        &[disabled="disabled"] {
            color: $disabled-grey;
            cursor: default;
            &:hover {
                color: $disabled-grey;
            }
        }
    }

    &__header {
        padding-bottom:6px;
        display:flex;
        align-items:center;
        font-size: $font-size-14;
        color: $deep-blue;
        line-height: $line-height-14;
        > * {
            flex: 1 1 auto;
            &:first-child,
            &:last-child{
                width: 12%;
                flex: 0 0 auto;
            }
            &:first-child{
                text-align: right;
                margin: 0 0.5rem 0 0;
            }
            &:last-child{
                text-align: left;
                margin: 0 0 0 0.5rem;
            }
        }
    }
    &__prev-period,
    &__next-period {	
        svg {
            width: 6px;
            fill: $bright-blue;
        }
    }

    &__body {
        text-transform: uppercase;
    }

    &__footer {
        text-align: right;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    &__cta{
        display:flex;
        justify-content: flex-end;
        align-items:center;
        .cmx-button{
            margin-right:1.25rem;
            &:last-child{
                margin-right:0;
            }
        }
    }
}