.cmx{
    &-fab{
        position: fixed;
        bottom: 56px;
        right: 32px;
        z-index: 10000;
        width: 56px;
        height: 56px;
        overflow: visible;

        &__toggle{
            border: none;
            background: none;
            display: flex;
            flex-flow: row-reverse;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            cursor:pointer;
            right: 0;
            bottom: 0;
            transition: opacity 250ms ease-in;

            &:focus{
                outline: none;
            }
        }
        &__toggle{
            .cmx-fab__icon{
                background-color: $true-blue;
                color:$true-white;
                width: 56px;
                height: 56px;
                margin: 0;
                font-size: 1.5rem;

                transition: opacity 250ms ease;
            }
        }

        &__label{
            font-size: 0.875rem;
            background-color: $true-white;
            line-height: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            display: block;
            margin: 0 1rem;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
            color: $deep-blue;
            white-space: nowrap;
        }

        &__icon{
            width: 40px;
            height: 40px;
            background-color: $true-white;
            color: $deep-blue;
            border-radius: 50%;
            font-size: 1.275rem;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8px;
            flex:0 0 auto;
            & > * { // the icon
                width: 16px;
                height: 16px;
                display:flex;
                justify-content: center;
                align-items: center;
                transition: opacity 250ms ease, background-color 250ms ease;
            }
        }

        &__menu{
            list-style:none outside;
            position: absolute;
            right:0;
            bottom: 0;
            margin: 0;
            padding: 0;

            &-item{
                display: flex;
                flex-flow: row-reverse;
                align-items: center;
                justify-content: flex-start;
                position:absolute;
                opacity:0;
                pointer-events: none;
                right: 0;
                bottom: 0;
                transition: opacity 250ms ease, transform 250ms ease;

                &:first-child{
                    z-index: 2;
                    .cmx-fab__icon{
                        background-color: $bright-blue;
                        color: $true-white;
                        width: 56px;
                        height: 56px;
                        margin: 0;
                        font-size: 1.5rem;
                        box-shadow: none;
                    }
                }
            }
        }

        // active state
        &.active{
            .cmx-fab{
                &__toggle{
                    cursor: default;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 250ms ease-out;
                }

                &__menu{
                    &-item{
                        opacity:1;
                        pointer-events: all;

                        &:nth-child(2){
                            transform: translateY(-64px)
                        }

                        &:nth-child(3){
                            transform: translateY(-128px)
                        }

                        &:nth-child(4){
                            transform: translateY(-192px)
                        }

                        &:nth-child(5){
                            transform: translateY(-256px)
                        }

                        &:nth-child(6){
                            transform: translateY(-320px)
                        }
                    }
                }
            }
        }
    }
}

@media (max-width : 576px) {
    .cmx{
        &-fab{
            bottom: 32px;

            &::before{
                content:" ";
                display:block;
                position: fixed;
                height:100vh;
                width:100vw;
                background-color: $deep-blue-eighty-percent;
                opacity: 0;
                top:0;
                left:0;
                z-index:0;
                pointer-events: none;
                transition: opacity 250ms ease;
            }

            &.active{
                &::before{
                    opacity: 1;
                    pointer-events: all;
                }
            }

            &__toggle{
                z-index: 1;
            }
        }
    }
}