.main-header-wrap {
    background: 	$true-white;
	padding: 		0.5rem;
	border-bottom: 	2px solid $true-red;

    header {
        text-align: center;
    }

    .user-links {
        font-weight: 	$font-bold;
        font-family: 	$font-family;
        font-size: 		$font-size-14;
        text-align: 	right;

        .notifications {
            display: 	inline-block;
            margin-top: 8px;
            padding: 	0 16px;

            a {
                color: 	$true-red;
            }
        }

        .username {
            display: inline-block;
            margin-top: 8px;
            padding: 0 16px;

            a {
                color: $bright-blue;
            }
        }
    }
}