.cmx-header-local{
    padding: 1.875rem;

    &__heading{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        &-dd-button{
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            color: $blue;
            cursor: pointer;
            &:hover{
                text-shadow: 0 1px 5px $icon-button-shadow;
            }
            &:focus{
                outline: 0;
            }
        }
    }
}