.cmx-map{
    min-height: 200px;
    position: relative;
    &__container{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    &__overlay {
        background: rgba(0,0,0,0.7);
        position: absolute; 
        z-index: 99;

        &--bottom{
            width  : 100%;
            height : 32px;
            bottom: 0px;
            padding:0.625rem;
        }

        &--left{
            top:0;
            width: 284px;
            height: 100%;
            padding: 7rem 1rem;
        }

        
    }
    &__legend{
        line-height: 12px;
        &-item{
            display:inline-flex;
            margin-right:1rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
        &-label{
            font-size: $font-size-10;
            line-height: $line-height-14;
            color: $true-white;
        }
        &-dot{
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
    }
    &__input-group {
        margin-bottom: 1.5rem;
        
        label {
            display: inline-block;
            width: 100%;
            color: $gray-lightish;
            font-size: $font-size-12;
            line-height: $line-height-12;
        }

        input[type="text"] {
            background: none;
            color: $gray-lightish;
            width: 100%;
            border: 0 none;
            border-bottom: 1px solid $gray-lightish;
            font-size: $font-size-18;
            line-height: $line-height-20;
            font-weight: $font-light;
            padding-bottom: 0.375rem;
        }
    }
}