.cmx-num-filter{
    width: 320px;
    background: $true-white;
    border-radius: $radius-2;
    border-top: 3px solid $bright-blue;
    box-shadow: 0 5px 20px rgba(0,0,0,0.14);
    padding: 1.25rem;
    font-size: 0.875rem;

    &__heading{
        font-size:0.875rem;
        font-weight: 500;
    }
    &__inputs{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 0.5rem;
        margin: 1rem 0 1.5rem;
        .cmx-form-group{
            input[type="number"]{
                text-align: right;
            }
        }
    }
    &__range{
        display:flex;
        align-items: center;

        &-label{
            position: absolute;
            margin: -28px -40px;// we leave this in px cause it relates to the self dimensions and not to general layout
            text-align: center;
            width: 100px;
            color:$gray-light;
        }

        &-val{
            flex: 0 0 auto;
        }

        &-slider{
            margin:3.5rem 0.625rem 2rem;
            flex:1 1 auto;
        }
    }
    &__footer{
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
}



// noUiSlider

/*! nouislider - 11.0.0 - 2018-01-12 20:37:52 */


/* Functional styling;
* These styles are required for noUiSlider to function.
* You don't need to change these rules to apply your design.
*/

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}


/* Wrapper for all connect elements.
*/

.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


/* Give origins 0 height/width so they don't interfere with clicking the
* connect elements.
*/

.noUi-vertical .noUi-origin {
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    position: relative;
    &:focus {
        outline: none;
    }
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}


/* Slider size and handle placement;
*/

.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    left: -9.5px;
    top: -8px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 20px;
    height: 20px;
    left: -6px;
    top: -17px;
}


/* Styling;
* Giving the connect element a border radius causes issues with using transform: scale
*/

.noUi-target {
    background: $gray-lighter;
    border-radius: 4px;
}

.noUi-connects {
    border-radius: 3px;
}

.noUi-connect {
    background: $bright-blue;
}


/* Handles and cursors;
*/

.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle {
    border: none;
    border-radius: 50%;
    background: $bright-blue;
    cursor: default;
}

.noUi-active {}


/* Disabled state;
*/

[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
    cursor: not-allowed;
}


/* Base;
*
*/

.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}


/* Values;
*
*/

.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}


/* Markings;
*
*/

.noUi-marker {
    position: absolute;
    background: #CCC;
}

.noUi-marker-sub {
    background: #AAA;
}

.noUi-marker-large {
    background: #AAA;
}


/* Horizontal layout;
*
*/

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}


/* Vertical layout;
*
*/

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%, 0);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}