// STRENGHT METER
.cmx-strength-meter{
	display:flex;
	align-items: center;

	&__bar{
		width: 100%;
		height: 3px;
		background: #E2E2E2;
		&::after{
			content:"";
			display:block;
			width: auto;
			height: 3px;
		}
	}
	&__label{
		font-size: $font-size-10;
		line-height: $line-height-10;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		margin-top: -4px;
		text-align: right;
		min-width: 6em; // why 6 em? it's because of the longest word, which is MEDIUM and has 6 characters.
	}



	&.low {
		.cmx-strength-meter{
			&__bar::after{
				background: $true-red;
				width: 33%;
			}
			&__label{
				color: $true-red;
			}
		}
	}

	&.medium {
		.cmx-strength-meter{
			&__bar::after{
				background: $bright-orange;
				width: 66%;
			}
			&__label{
				color: $bright-orange;
			}
		}
	}

	&.high {
		.cmx-strength-meter{
			&__bar::after{
				background: $bright-green;
				width: 100%;
			}
			&__label{
				color: $bright-green;
			}
		}
	}
}
// end STRENGHT CONTAINER