.popout{
    position: absolute;
    z-index: 2010;
    background: $true-white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 0;
    opacity:1;
    pointer-events: all;

    &--with-border{
        border:1px solid $disabled-grey;
    }

    &.hidden{
        opacity: 0;
        pointer-events: none;
    }

    &::before{
        content:" ";
        display: block;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $true-white;
        position: absolute;
    }

    &--bottom-left{
        &::before{
            top: -8px;
            right: 20px;
        }
    }
}