.scroller{
    height:100%;
    overflow:hidden;
    position: absolute;

    &__content{
        height: 100%;
        width: 100%;
        overflow: auto;

        // start styling the scrollbar on browsers that support it

        &::-webkit-scrollbar {
            width: 8px;
            background-color: none;
        }

        &::-webkit-scrollbar-track {
            background-color: none;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background: $disabled-grey;
        }

        &::-webkit-scrollbar-thumb:hover {
            border-radius: 8px;
            background: $table-highlight-grey;
            transition: all 0.4s;
        }

        // end styling the scrollbar on browsers that support it

    }

    &--border{
        &-top{

        }
    }

    &--border{
        &-top{
            border-top: 1px solid $gray-lightish;
            .scroller__content{
                padding-top:1rem;
            }
        }
    }

    &--fade{
        &-vertical,
        &-top,
        &-bottom{
            &::before{
                content:"";
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                pointer-events: none;
            }
        }
        &-vertical{
            &::before{
                background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80px, rgba(255,255,255,0) 100%), linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80px, rgba(255,255,255,0) 100%);
            }
            .scroller__content{
                padding-top:80px;
                padding-bottom:80px;
            }
        }
        &-top{
            &::before{
                background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80px, rgba(255,255,255,0) 100%); 
            }
            .scroller__content{
                padding-top:80px;
            }
        }
        &-bottom{
            .scroller__content{
                padding-bottom:80px;
            }
            &::before{
                background-image: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80px, rgba(255,255,255,0) 100%); 
            }
        }
    }
}