$stepperSize:40px;
.cmx-stepper{
    display:flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    border-bottom:1px solid $bright-blue;
    height:$stepperSize/2;
    overflow:visible;
    margin-bottom: calc(#{$stepperSize} + 3rem);
    flex: 0 0 50%;
    max-width: 50%;

    counter-reset: stepper;

    &__heading{
        opacity:0;
        pointer-events: none;
        position: fixed;
    }

    &__step,
    &__step--active,
    &__step--done{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        counter-increment: stepper;
        height: calc(#{$stepperSize} + 2rem);
        width: $stepperSize;
        white-space: nowrap;

        &::before{
            content:counter(stepper);
            display:flex;
            width:$stepperSize;
            height: $stepperSize;
            border-radius: $stepperSize/2;
            background-color: $disabled-grey;
            color: $true-white;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 1.75rem;
            margin-bottom: 0.5rem;
            flex: 0 0 auto;
        }
    }
    &__step--active{
        &::before{
            background-color: $bright-blue;
        }
    }
    &__step--done{
        &::before{
            background-color: $bright-green;
            content:"\E93C";
            font-family: 'dls-icons';
            font-size: 1.75rem;
        }
    }
    &__button-bar{
        position:fixed;
        bottom:24px;
        background-color: $true-white;
        padding: 0.75rem 1rem;
        box-shadow: 0 -2px 2px $true-black-ten-percent;
        width: 100%;
        right: 0;
        text-align: right;

        .cmx-button{
            margin: 0 0.375rem;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.cmx-navbar{
    & + .page-wrapper{
        .cmx-stepper{
            &__button-bar{
                width: calc(100vw - 160px - 1rem);
                transition: width 250ms ease;
            }
        }
    }
    &.collapsed{
        + .page-wrapper{
            .cmx-stepper{
                &__button-bar{
                    width: calc(100vw - 43px - 1rem);
                }
            }
        }
    }
}

@media (max-width : 576px) {
    .cmx{
        &-stepper{
            flex-direction: column;
            position: fixed;
            top: 106px;
            height: auto;
            margin-bottom: 0;
            left: 0;
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            border-bottom: none;
            background-color: $background-grey;
            font-size: .825rem;
            box-shadow: 0 2px 2px $true-black-ten-percent;
            padding:2rem;
            z-index: 1;
            transform: translateY(-100%);
            transition: transform 250ms ease;

            &__step,
            &__step--active,
            &__step--done{
                flex-direction: row;
                width: 100%;
                justify-content: flex-start;
                height: auto;
                flex-wrap: wrap;
                color: $bright-blue;

                &::before{
                    width: 25px;
                    height: 25px;
                    font-size: 0.825rem;
                    margin-bottom: 0;
                    margin-right: 1rem;
                }
                &::after{
                    content: " ";
                    width: calc(100% - 12.5px);
                    border-left: 1px solid $bright-blue;
                    margin-left: 11.5px;
                    display: block;
                    height: 21px;
                }

                &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }


            &--closed,
            &--open{
                &::before{
                    content:" ";
                    display: block;
                    position: fixed;
                    background-color: $deep-blue-eighty-percent;
                    top:0;
                    left:0;
                    width:100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 250ms ease;
                }
                .page-wrapper{
                    padding-top:50px;
                }
            }
            &--open{
                &::before{
                    opacity:1;
                    pointer-events: all;
                }
                .cmx-stepper{
                    transform: translateY(0);

                    &__heading{
                        &::after{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            &__button-bar{
                position:fixed;
                bottom:0;
            }
            &__heading{
                opacity:1;
                pointer-events: all;
                position: fixed;
                top: 56px;
                background: $bright-blue;
                color: $true-white;
                width: 100vw;
                left: 0;
                font-size: 0.875rem;
                height: 50px;
                padding: 0 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 2;

                &::after{
                    content: "\E921";
                    font-family: 'dls-icons' !important;
                    speak: none;
                    transition: transform 250ms ease;
                }
            }
        }


        &-navbar{
            & + .page-wrapper{
                .cmx-stepper{
                    &__button-bar{
                        width: 100%;

                    }
                }
            }
            &.collapsed{
                + .page-wrapper{
                    .cmx-stepper{
                        &__button-bar{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}