@function url-friendly-colour($colour) {
    @return '%23' + str-slice('#{$colour}', 2, -1)
}
.cmx{
    &-tabs{
        list-style:none outside;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0 0 1.25rem 0;
        padding:0;

        &::before{
            content:"tabs_on_desktop"; // just a test to se if it's mobile or desktop
            color: transparent;
            border-bottom: 1px solid $disabled-grey;
            width:5px;
        }

        &::after{
            content:" ";
            border-bottom: 1px solid $disabled-grey;
            flex: 1 1 auto;
        }

        &__tab{
            &.active{
                .cmx-tabs__link{
                    border-bottom-color: transparent;
                    border-top-color: $bright-blue;
                    border-left: 1px solid $disabled-grey;
                    border-right: 1px solid $disabled-grey;
                    color: $dark-grey;
                    padding: 0.875rem 1.25rem;
                }
            }
        }
        &__link{
            white-space: nowrap;
            font-weight: 500;
            border-bottom: 1px solid $disabled-grey;
            border-top: 3px solid transparent;
            padding: 0.875rem calc(1.25rem + 1px); // adding that pixel to the sides to compensate for the border
            display: block;

            &:active{
                color: $bright-blue;
            }

            &:focus,&:hover{
                text-decoration: none;
            }
        }
        &__content{
            display: none;
            &.active{
                display: block;
            }
        }
        
    }
    &-header-local{
        .cmx-tabs{
            margin: 1rem -1.875rem 0;
            width: calc(100% + 3.75rem);
        }
    }
}

@media (max-width : 576px) {
    .cmx{
        &-tabs{
            &.mobile-dropdown{
                flex-wrap: wrap;
                width: min-content;
                overflow: visible;
                height:1.5rem;

                &.open{
                    .cmx-tabs__tab{
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                &::before{
                    content:attr(data-selected-text);
                    display: block;
                    order:-2;
                    flex:0 0 auto;
                    padding-right:0.5rem;
                    color: $deep-blue;
                    width: auto;
                    border-bottom: none;
                }

                &::after{
                    content:"\E921";
                    font-family: 'dls-icons' !important;
                    speak: none;
                    color:$bright-blue;
                    display: block;
                    border:none;
                    order:-1;
                    flex: 0 0 16px;
                }

                .cmx-tabs{

                    &__tab{
                        flex: 0 0 100%;
                        background-color: $true-white;
                        padding: 0.25rem 1rem;
                        box-shadow: 0 2px 2px $true-black-ten-percent;
                        z-index: 1;
                        opacity:0;
                        pointer-events: none;

                        &:first-child{
                            border-top: 2px solid $bright-blue;
                            padding-top: 0.75rem;
                        }
                        &:last-child{
                            border-radius: 0 0 3px 3px;
                            padding-bottom: 0.75rem;
                        }

                        &.active{
                            .cmx-tabs__link{
                                border: none;
                                padding: 0;
                                color: $bright-blue;
                            }
                        }
                    }

                    &__link{
                        border: none;
                        padding: 0;
                        text-align: start;
                    }
                }
            }

            font-size: 0.875rem;

            &::before{
                display: none;
            }

            &::after{
                display: none;
            }

            .cmx-tabs{
                &__tab{
                    flex:1 1 auto;
                }
                &__link{
                    text-align: center;
                }
            }
        }
        &-header-local{
            .cmx-tabs{
                box-shadow: 0 2px 2px $true-black-ten-percent;
                position: relative;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='#{url-friendly-colour($bright-blue)}'/%3e%3c/svg%3e");
                background-position: bottom 0 left 0;
                padding-bottom: 3px;
                background-size: 1px 3px;
                background-repeat: no-repeat;

                transition: background-position 250ms ease, background-size 250ms ease;

                &__link{
                    border: none;
                }

                &__tab{
                    &.active{
                        .cmx-tabs__link{
                            border:none;
                        }
                    }
                }
            }
        }
    }
}