html[dir="rtl"] {
    .cmx{
        &-fab{
            right:auto;
            left:32px;
            &__toggle{
                right: auto;
                left: 0;
            }
            &__menu{
                right: auto;
                left: 0;
                &-item{
                    right:auto;
                    left:0;
                }
            }
        }
    }
}