// _footer-rtl.scss
// FOOTER
// this element is fixed (always sticks at the bottom of the page)

html[dir="rtl"] .cmx-footer {

	&__menu {

		&-item {
			margin-left: 1.25rem; // modified
			margin-right: 0; // added

			&:last-child {
				margin-left: 0; // modified
				margin-right: auto;
			}
		}
	}
}
// end FOOTER