html[dir="rtl"]{
    .cmx{
        &-stepper{
            &__button-bar{
                right: auto;
                left: 0;
                text-align: left;
            }
            &__heading{
                display: none;
            }
        }
    }
} 

@media (max-width : 576px) {
    html[dir="rtl"]{
        h2.cmx-stepper__heading{
            display:flex;
            color:$true-white;
            font-size: 0.875rem;
        }
        .cmx{
            &-stepper{
                &__heading{

                }
                &__step,
                &__step--active,
                &__step--done{
                    &::before{
                        margin-left: 1rem;
                        margin-right: 0;
                    }
                    &::after{
                        border-right: 1px solid $bright-blue;
                        margin-right: 11.5px;
                        border-left: none;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}