@media (max-width : 576px) {
    *[dir="rtl"] {
        .cmx{
            &-tabs{
                &::before{
                    padding-right: 0;
                    padding-left:0.5rem;
                }
            }
        }
    }
}