<div class="contact-info">
    <div class="contact-info__title"><span *ngIf="withNumber">1.</span> {{translationService.pt('views.userManagement.contactInfo')}}</div>
    <div class="spacer-24"></div>
    <div class="row">
        <div class="col-md-2">
            <div id="cmx-contact-info-name-lbl" class="contact-info__label">{{ translationService.pt('views.global.lbl_name') }}</div>
            <div id="cmx-contact-info-name" class="contact-info__value">{{ _contactInfo?.firstName }} {{ _contactInfo?.lastName }}</div>
        </div>
        <div class="col-md-2">
            <div id="cmx-contact-info-position-lbl" class="contact-info__label">{{ translationService.pt('views.global.lbl_position') }}</div>
            <div id="cmx-contact-info-position" class="contact-info__value">{{ _contactInfo?.position }}</div>
        </div>
        <div class="col-md-2">
            <div id="cmx-contact-info-company-lbl" class="contact-info__label">{{ translationService.pt('views.global.lbl_company') }}</div>
            <div id="cmx-contact-info-company" class="contact-info__value">{{_contactInfo?.company}}</div>
        </div>
        <div class="col-md-2">
            <div id="cmx-contact-info-country-lbl" class="contact-info__label">{{ translationService.pt('views.global.lbl_country') }}</div>
            <div id="cmx-contact-info-country" class="contact-info__value">{{ _contactInfo?.country }}</div>
        </div>
        <div class="col-md-2">
            <div id="cmx-contact-info-email-lbl" class="contact-info__label">{{ translationService.pt('views.global.lbl_email') }}</div>
            <div id="cmx-contact-info-email" class="contact-info__value">{{ _contactInfo?.email }}</div>
        </div>
        <div class="col-md-2">
            <div id="cmx-contact-info-phone-lbl" class="contact-info__label">{{ translationService.pt('views.global.lbl_phone') }}</div>
            <div id="cmx-contact-info-phone" class="contact-info__value">{{ _contactInfo?.phone }}</div>
        </div>
    </div>
</div>