.buttons-footer {
    position: fixed;
    background: #FFF;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.12);
    height: 64px;
    padding: 16px;
    bottom: 24px;
    width: 100%;
    box-sizing: border-box;
    left: 0px;
    text-align: end;
}

@media only screen and (max-width: 576px) {
    .buttons-footer {
        bottom: 0;
        top: unset;
    }
}