@{
    ViewData["Title"] = "CEMEX Go";
    ViewData["API_HOST"] = Environment.GetEnvironmentVariable("API_HOST");
    ViewData["API_HOST_FULL"] = Environment.GetEnvironmentVariable("API_HOST_FULL");
    ViewData["API_ORG"] = Environment.GetEnvironmentVariable("API_ORG");
    ViewData["API_ENV"] = Environment.GetEnvironmentVariable("API_ENV");
    ViewData["ENV"] = Environment.GetEnvironmentVariable("ENV");
    ViewData["APP_CODE"] = Environment.GetEnvironmentVariable("APP_CODE");
    ViewData["CLIENT_ID"] = Environment.GetEnvironmentVariable("CLIENT_ID");
    ViewData["HOST_EUROPE"] = Environment.GetEnvironmentVariable("HOST_EUROPE");
    ViewData["HOST_AMERICA"] = Environment.GetEnvironmentVariable("HOST_AMERICA");
    ViewData["SITE_DOMAIN"] = Environment.GetEnvironmentVariable("SITE_DOMAIN");
    ViewData["COUNTLY_URL"] = Environment.GetEnvironmentVariable("COUNTLY_URL");
    ViewData["COUNTLY_KEY"] = Environment.GetEnvironmentVariable("COUNTLY_KEY");
    ViewData["LANGUAGE"] = Environment.GetEnvironmentVariable("LANGUAGE");
    ViewData["ENV"] = Environment.GetEnvironmentVariable("ENV");
    ViewData["ROLLOUT_APP_KEY"] = Environment.GetEnvironmentVariable("ROLLOUT_APP_KEY");
    ViewData["SHOW_MAINTENANCE_ALERT"] = Environment.GetEnvironmentVariable("SHOW_MAINTENANCE_ALERT");
    ViewData["CMX_LOYALTY_PROGRAM_URL"] = Environment.GetEnvironmentVariable("CMX_LOYALTY_PROGRAM_URL");
}

<app-root></app-root>

<script src="https://code.jquery.com/jquery.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@if (Environment.GetEnvironmentVariable("ENV") != "PROD") {
      <script src="https://www.cemexgo.com/cdn/cypress/cypressRecorder.js" type="text/javascript"></script>
}

<script asp-src-include="~/dist/inline.*.bundle.js"></script>
<script asp-src-include="~/dist/polyfills.*.bundle.js"></script>
<script asp-src-include="~/dist/vendor.*.bundle.js"></script>

@section scripts {
    <script>
        window.API_HOST = '@ViewData["API_HOST"]';
        window.API_HOST_FULL = '@ViewData["API_HOST_FULL"]';
        window.API_ORG = '@ViewData["API_ORG"]';
        window.API_ENV = '@ViewData["API_ENV"]';
        window.ENV = '@ViewData["ENV"]';
        window.APP_CODE = '@ViewData["APP_CODE"]';
        window.CLIENT_ID = '@ViewData["CLIENT_ID"]';
        window.HOST_EUROPE = '@ViewData["HOST_EUROPE"]';
        window.HOST_AMERICA = '@ViewData["HOST_AMERICA"]';
        window.SITE_DOMAIN = '@ViewData["SITE_DOMAIN"]';
        window.COUNTLY_KEY = '@ViewData["COUNTLY_KEY"]';
        window.COUNTLY_URL = '@ViewData["COUNTLY_URL"]';
        window.ENV = '@ViewData["ENV"]';
        window.ROLLOUT_APP_KEY = '@ViewData["ROLLOUT_APP_KEY"]';
        window.SHOW_MAINTENANCE_ALERT = '@ViewData["SHOW_MAINTENANCE_ALERT"]';
        window.CMX_LOYALTY_PROGRAM_URL = '@ViewData["CMX_LOYALTY_PROGRAM_URL"]';
        //used in translationService, it is necessary to inject
        window["CMX_LANGUAGES"] = @Html.Raw(@ViewData["CMX_LANGUAGES"]??"");
        window['LANGUAGE'] = "@ViewData["LANGUAGE"]";
    </script>

    <script asp-src-include="~/dist/main.*.bundle.js"></script>
    <script src="https://cemex.count.ly/sdk/web/countly.min.js"></script>

    <script type="text/javascript">
    (function() {
        var walkme = document.createElement('script');  
        walkme.type = 'text/javascript'; 
        walkme.async = true; 
        @{
            var walkmeURL = "https://cdn.walkme.com/users/e69507999d16467bbb091803bac288ae/";
            if (Environment.GetEnvironmentVariable("ENV") != "prod")
            {
                walkmeURL += "test/";
            } 
            walkmeURL += "walkme_e69507999d16467bbb091803bac288ae_https.js";
        }
        walkme.src = '@walkmeURL';
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(walkme, s); 
        window._walkmeConfig = {smartLoad:true}; 
        }
    )();
    </script>
}
