.dashboard {
    color: #001C3B;
    h2 {
        font-weight: bold;
    }
    &__card {
        border: 0;
        box-shadow: none;
        cursor: pointer;
        display: block;
        text-decoration: none;
        transition: all .2s;
        color: #3fa9f5;
        &:hover {
            box-shadow: 0 2px 6px #D6D6D6;
        }
    }
    &__card-container {
        border-radius: 4px;
        min-height: 146px;
        margin-bottom: 16px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__app-name {
        color: #001C3B;
        font-size: 1.25rem;
        width: 65%;
        font-weight: bold;
        line-height: 1.5rem;
        text-decoration: none;
        text-align: start;
    }
    &__card-icon {
        color: #139DF2;
        font-size: 80px;
    }
}

.agreementList {
    list-style: none;
    padding: 0;
    .checked {
        color: #7AC943;
    }
    .grey {
        color: #666;
    }
}

:host ::ng-deep cmx-dialog {
    .cmx-dialog__container__body {
        height: 350px;
    }
    .cmx-dialog__background {
        z-index: 100000;
        cursor: not-allowed;
    }
    .cmx-dialog__container {
        z-index: 100001;
    }
    .cmx-dialog__container__footer {
        display: flex;
        text-align: unset;
    }
}

:host ::ng-deep cmx-steps {
    .cmx-stepper__controller {
        display: none;
    }
    .cmx-stepper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 75%;
    }
    .cmx-stepper__step {
        font-size: 13px;
        &--done {
            color: #3FA9F5;
            font-weight: normal;
            font-size: 13px;
            cursor: pointer;
        }
        &--active {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 576px) {
    :host ::ng-deep cmx-steps {
        .cmx-stepper {
            display: none;
        }
    }
}

:host ::ng-deep cmx-checkbox {
    label {
        display: block;
    }
}