.custom-panel {
    color: #001B3A;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    margin: 4.125rem auto 3.438rem auto;
    position: relative;
    background-color: #FFF;
    max-width: 25rem;
    width: 100%;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.45);
    &__header {
        @media only screen and (max-width: 576px) {
            text-align: center;
        }
        height: 3.438rem;
        width: auto;
        border: 0;
        border-radius: 0;
        padding: 0.75rem 3.125rem;
        background-color: #002A59;
        border-bottom: 2px solid #EE3D42;
        &__logo {
            fill: #FFF;
            height: 1.875rem;
            width: 7.188rem;
        }
    }
    &__close-button {
        background: none;
        border: none;
        color: #3FA9F5;
        display: block;
        height: 22px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 70px;
        width: 22px;
        z-index: 1;
        cursor: pointer;
        .cmx-icon-close {
            font-size: 24px;
            line-height: 24px;
            height: 24px;
            width: 24px;
            display: block;
        }
    }
    &__content {
        padding: 1.438rem 2.813rem 0;
        &--right {
            text-align: right;
        }
        &__title {
            color: #001B3A;
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
        &__instruction {
            color: #333333;
            font-size: 0.875rem;
            line-height: 16px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .custom-panel {
        margin: 0;
        min-width: 100%;
        min-height: 100%;
    }
}

.close-button-rtl {
    right: unset;
    left: 15px;
}