<span class="tooltip-toggle" [attr.aria-label]="content" tabindex="-1">
    <svg width = "15px" height="15px">
        <g fill="#ED3E44" fill-rule="evenodd">
            <g id="9.3.0.0---Password-change" transform="translate(-614.000000, -330.000000)" fill="#3FA9F5">
                <g id="Group" transform="translate(614.000000, 330.000000)">
                    <path d="M6.34960938,8.11914062 C6.34960938,7.72949024 6.39794874,7.41894647 6.49462891,7.1875 C6.59130908,6.95605353 6.78246927,6.70190568 7.06811523,6.42504883 C7.35376119,6.14819198 7.53466759,5.95117246 7.61083984,5.83398437 C7.72802793,5.65527254 7.78662109,5.4619151 7.78662109,5.25390625 C7.78662109,4.97851425 7.71850654,4.76831127 7.58227539,4.62329102 C7.44604424,4.47827076 7.24609507,4.40576172 6.98242188,4.40576172 C6.73046749,4.40576172 6.52758866,4.47680593 6.3737793,4.61889648 C6.21996993,4.76098704 6.14306641,4.95361207 6.14306641,5.19677734 L5.07519531,5.19677734 C5.08105472,4.67822006 5.25756662,4.26806792 5.60473633,3.96630859 C5.95190603,3.66454927 6.41112996,3.51367188 6.98242188,3.51367188 C7.57129201,3.51367188 8.03051593,3.66308444 8.36010742,3.96191406 C8.68969891,4.26074368 8.85449219,4.67821998 8.85449219,5.21435547 C8.85449219,5.69189692 8.63183816,6.16210706 8.18652344,6.625 L7.64599609,7.15673828 C7.45263575,7.37646594 7.35302737,7.69726352 7.34716797,8.11914062 L6.34960938,8.11914062 Z M6.27490234,9.48583984 C6.27490234,9.31298742 6.32910102,9.17309624 6.4375,9.06616211 C6.54589898,8.95922798 6.69238189,8.90576172 6.87695312,8.90576172 C7.06445406,8.90576172 7.2124018,8.96069281 7.32080078,9.07055664 C7.42919976,9.18042047 7.48339844,9.31884682 7.48339844,9.48583984 C7.48339844,9.64697346 7.43066459,9.78173774 7.32519531,9.89013672 C7.21972604,9.9985357 7.07031347,10.0527344 6.87695312,10.0527344 C6.68359278,10.0527344 6.53491263,9.9985357 6.4309082,9.89013672 C6.32690378,9.78173774 6.27490234,9.64697346 6.27490234,9.48583984 Z"
                        id="?"></path>
                    <path d="M7,13.5 C3.41014913,13.5 0.5,10.5898509 0.5,7 C0.5,3.41014913 3.41014913,0.5 7,0.5 C10.5898509,0.5 13.5,3.41014913 13.5,7 C13.5,10.5898509 10.5898509,13.5 7,13.5 Z M7,12.5 C10.0375661,12.5 12.5,10.0375661 12.5,7 C12.5,3.96243388 10.0375661,1.5 7,1.5 C3.96243388,1.5 1.5,3.96243388 1.5,7 C1.5,10.0375661 3.96243388,12.5 7,12.5 Z"
                        id="Oval" fill-rule="nonzero"></path>
                </g>
            </g>
        </g>
    </svg>
</span>