.tooltip-toggle {
    cursor: pointer;
    position: relative;
    top: 5px;
    outline: 0;
    &::before {
        position: absolute;
        top: -85px;
        left: -140px;
        background-color: #2B222A;
        border-radius: 5px;
        color: #fff;
        content: attr(aria-label); //This pulls in the text from the element with the tooltip
        padding: 1rem;
        text-transform: none;
        transition: all 0.5s ease;
        width: 300px;
    } //Tooltip arrow
    &::after {
        position: absolute;
        top: -11px;
        left: 7px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #2B222A;
        content: ' ';
        font-size: 0;
        line-height: 0;
        margin-left: -5px;
        width: 0;
    } //Setting up the transition
    &::before,
    &::after {
        opacity: 0;
        pointer-events: none;
        text-align: center;
        color: #E8EBEF;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
    } //Triggering the transition
    &:focus::before,
    &:focus::after,
    &:hover::before,
    &:hover::after {
        opacity: 1;
        transition: all 0.75s ease;
    }
}