<div class="prelogin">
    <panel [title]="translationService.pt('views.forgotPassword.title')" [instruction]="translationService.pt('views.forgotPassword.instructions')"
        (onClosingPanel)="goToLogin()">
        <form [formGroup]="form" (ngSubmit)="send()">
            <cmx-form-field [title]="translationService.pt('views.forgotPassword.lblEmail')" [rtl]="isRTL" [error]="(!form.controls.email.valid && !form.controls.email.pristine) || (hasError || !emailSent)">
                <input (keyup)="onTyping()" type="text" formControlName="email" aria-describedby="emailHelp" [placeholder]="translationService.pt('views.forgotPassword.lblEnterEmail')"
                    data-tid="cmx-forgot-password-email-input" id="cmx-forgot-password-email-input">
                <error-message *ngIf="!form.controls.email.pristine && form.controls['email'].hasError('required')">
                    {{ translationService.pt('views.forgotPassword.form.lblEmailRequired') }}</error-message>
                <error-message *ngIf="!form.controls.email.pristine && form.controls['email'].hasError('patternInvalid') && !form.controls.email.hasError('required')">
                    {{ translationService.pt('views.forgotPassword.form.lblInvalidEmail') }}</error-message>
                <error-message *ngIf="hasError || !emailSent">{{ errMessage }}</error-message>
            </cmx-form-field>
            <div class="spacer-24"></div>
            <re-captcha (resolved)="resolved($event)" [siteKey]="key"></re-captcha>
            <div class="spacer-32"></div>
            <div class="end">
                <button id="cmx-forgot-password-submit-btn" type="submit" cmx-button [disabled]="!form.valid || !captchaOk || submitted">
                    {{ translationService.pt('views.forgotPassword.btnSend') }}</button>
            </div>
        </form>
    </panel>
</div>
<cmx-dialog #successModal [rtl]="isRTL" templateId="FORGOT-PASSWORD" id="cmx-forgot-password-success-modal" maxWidth="700px"
    maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span id="cmx-forgot-password-success-modal-icon" class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.forgotPassword.success') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>
