<cmx-table [dataSource]="logs" [tableSource]="logTable" [pageSize]="10" [rtl]="isRTL">
    <ng-container *cmxHeaderTemplate="let table">
        <div fxLayout="row">
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'executedBy' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'action' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'entryDate' ).getName()) }}
                <cmx-datepicker-filter [filter]="table.getColumn( 'entryDate' ).getDateFilter()"></cmx-datepicker-filter>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="15" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'entryDateTime' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="5" fxLayout fxLayoutAlign="start start"></cmx-header-cell>

        </div>
    </ng-container>
    <ng-container *cmxRowTemplate="let $element">
        <div fxLayout="row" cmx-table-item>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-result-execute-by-{{$element.index}}-ACTION-LOG"> {{ $element.executedBy }} </span>
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-result-action-{{$element.index}}-ACTION-LOG">{{ translationService.pt('views.actionLog.' + $element?.action) }}</span>
            </cmx-cell>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                <span *ngIf="$element.show" id="cmx-result-date-{{$element.index}}-ACTION-LOG">{{ $element.entryDate | cmxDateMoment }}</span>
            </cmx-cell>
            <cmx-cell fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-result-time-{{$element.index}}-ACTION-LOG"> {{ $element.entryDate | date: 'HH:mm' }}
                </span>
            </cmx-cell>
            <cmx-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center">
                <span class="cmx-icon-quick-view font-bright-blue detail-icon" aria-hidden="true" *ngIf="$element.actionType !== Null"
                    (click)="openNotes($element)"></span>
            </cmx-cell>
        </div>
    </ng-container>
</cmx-table>