:host ::ng-deep app-password-tooltip {
    .cmx-popover {
        max-width: 310px;
    }
}

:host ::ng-deep cmx-form-field {
    &.cmx-form-group{
        & input[type='password']{
            &.invalidPassword {
                border: 1px solid #ee3d42;
            }
        }
    }
}

.error-message {
    color: red;
    font-size: 12px;
}