<cmx-table class="users" [dataSource]="users" [tableSource]="userTable" [rtl]="isRTL" [pageSize]="30">
    <ng-container *cmxHeaderTemplate="let table">
        <div fxLayout="row">
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'fullName' ).getName()) }}
                <cmx-checkbox-filters [filters]="table.getColumn( 'fullName' ).getFilters()" id="cmx-btn-go-create-user-{{templateId}}">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'customerDesc' ).getName()) }}
                <cmx-checkbox-filters [filters]="table.getColumn( 'customerDesc' ).getFilters()" id="cmx-btn-go-create-user-{{templateId}}">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'userAccount' ).getName())}}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="15" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'phoneNumber' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'applications' ).getName()) }}
            </cmx-header-cell>
        </div>
    </ng-container>
    <ng-container *cmxRowTemplate="let $element">
        <div fxLayout="row" cmx-table-item>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                <span class="um-fullname" [title]="$element.fullName" (click)="editUser($element.userAccount)">
                    {{$element.fullName}}
                </span>
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-row-tbl-user-customer-{{$element.index}}-{{templateId}}"></span>{{ $element.customerDesc }}
            </cmx-cell>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-row-tbl-user-email-{{$element.index}}-{{templateId}}"></span>{{ $element.userAccount }}
            </cmx-cell>
            <cmx-cell fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-row-tbl-user-phone-{{$element.index}}-{{templateId}}">{{ $element.phoneNumber }}</span>
            </cmx-cell>
            <cmx-cell class="removeOverflow" #apps fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <span id="cmx-row-tbl-user-apps-{{$element.index}}-{{templateId}}" *ngIf="$element?.applicationList?.length === 1">
                    {{ translationService.pt($element?.applicationList[0]?.applicationCode) }}</span>
                <cmx-dropdown *ngIf="$element.applicationList?.length > 1" [placeholder]=" $element?.applicationList?.length +'. ' + translationService.pt('views.userManagement.lblApplications')"
                    [closeOnClick]="true">
                    <cmx-dropdown-item [disableTick]="true">
                        <span style="font-weight: 600" class="apps-dropdown">
                            {{ translationService.pt('views.global.lbl_accessApps') }}
                        </span>
                    </cmx-dropdown-item>
                    <cmx-dropdown-item [disableTick]="true" *ngFor="let app of $element?.applicationList">
                        <span class="apps-dropdown">{{ translationService.pt(app.applicationCode) }}</span>
                    </cmx-dropdown-item>
                </cmx-dropdown>
            </cmx-cell>
        </div>
    </ng-container>
</cmx-table>
