.profile {
    padding-bottom: 5%;
    color: #001B3A;
    h1 {
        font-size: 30px;
    }
}

.apps-grid {
    display: flex;
    flex-wrap: wrap;
    &__app-card {
        padding: 10px 0;
        display: block;
        &__container {
            min-height: 6.25rem;
            &__header {
                border-bottom: 0.5px solid #c1c2c4;
                padding-bottom: 0.5rem;
                display: flex;
                &__icon {
                    color: #3FA9F5;
                    font-size: 20px;
                    font-weight: bold;
                }
                &__name {
                    color: #333;
                    font-size: 14px;
                    font-weight: bold;
                    vertical-align: top;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    padding-left: 0.375rem;
                }
            }
            &__list {
                list-style: none;
                padding-top: 9px;
                padding-left: 0px;
                &__name {
                    color: #333;
                    font-size: 12px;
                    line-height: 16px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}

.request-dialog {
    color: #001B3A;
    &--end {
        text-align: end;
    }
    &--hide {
        display: none;
    }
}

:host ::ng-deep cmx-dropdown {
    .cmx-dropdown__placeholder {
        color: #001b3b;
        font-size: 16px;
        svg {
            width: 14px;
            height: 10px;
        }
    }
    .dropdown-item {
        padding: 10px 16px;
    }
    .cmx-dropdown__items-positioner {
        height: auto !important;
        min-width: 200px;
    }
}

:host ::ng-deep cmx-tabs {
    padding-bottom: 196px;
    display: block;
    &::before {
        content: none;
    }
}

:host ::ng-deep cmx-alert {
    .cmx-alert-bar {
        z-index: 1;
    }
}