<div class="prelogin">
    <panel [title]="translationService.pt('views.signup.title')" (onClosingPanel)="goToLogin()">
        <form [formGroup]="form" (ngSubmit)="createUser()">
            <div class="row">
                <div class="col-md-4">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblName')" [error]="!form.controls.firstName.valid  && !form.controls.firstName.pristine"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderName')" formControlName="firstName">
                        <error-message *ngIf="form.controls['firstName'].hasError('required') && !form.controls.firstName.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                        <error-message *ngIf="form.controls['firstName'].hasError('pattern') && !form.controls.firstName.pristine && !form.controls.firstName.hasError('required')">
                            {{ translationService.pt('views.signup.form.lblInvalidFormat') }}
                        </error-message>
                    </cmx-form-field>
                </div>
                <div class="col-md-4">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblLastName')" [error]="!form.controls.lastName.valid  && !form.controls.lastName.pristine"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderLastName')" formControlName="lastName">
                        <error-message *ngIf="form.controls['lastName'].hasError('required') && !form.controls.lastName.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                        <error-message *ngIf="form.controls['lastName'].hasError('pattern') && !form.controls.lastName.pristine && !form.controls.lastName.hasError('required')">
                            {{ translationService.pt('views.signup.form.lblInvalidFormat') }}
                        </error-message>
                    </cmx-form-field>
                </div>
                <div class="col-md-4">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblPosition')" [error]="!form.controls.position.valid  && !form.controls.position.pristine"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderPosition')" formControlName="position">
                        <error-message *ngIf="form.controls['position'].hasError('required') && !form.controls.position.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                        <error-message *ngIf="form.controls['position'].hasError('pattern') && !form.controls.position.pristine && !form.controls.position.hasError('required')">
                            {{ translationService.pt('views.signup.form.lblInvalidFormat') }}
                        </error-message>
                    </cmx-form-field>
                </div>
            </div>
            <div class="spacer-8"></div>
            <div class="row">
                <div class="col-md-3">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblClientNumber')" [error]="!form.controls.customerCode.valid  && !form.controls.customerCode.pristine"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderClientNumber')" formControlName="customerCode">
                        <error-message *ngIf="form.controls['customerCode'].hasError('required') && !form.controls.customerCode.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                    </cmx-form-field>
                </div>
                <div class="col-md-5">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblCompany')" [error]="!form.controls.company.valid  && !form.controls.company.pristine"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderCompany')" formControlName="company">
                        <error-message *ngIf="form.controls['company'].hasError('required') && !form.controls.company.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                    </cmx-form-field>
                </div>
                <div class="col-md-4">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblCountry')" [error]="!form.controls.company.valid  && !form.controls.company.pristine"
                        [rtl]="isRTL">
                        <select id="countriesSelect" formControlName="country">
                            <option disabled selected value=''>{{ translationService.pt('views.signup.form.placeholderCountry') }}</option>
                            <option [value]="country.countryCode" *ngFor="let country of languages">{{country.languageCountry}}</option>
                        </select>
                        <error-message *ngIf="form.controls['company'].hasError('required') && !form.controls.company.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                    </cmx-form-field>
                </div>
            </div>
            <div class="spacer-8"></div>
            <div class="row">
                <div class="col-md-6">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblEmail')" [error]="!form.controls.email.pristine && (form.controls['email'].hasError('patternInvalid') || !form.controls.email.valid)"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderEmail')" formControlName="email">
                        <error-message *ngIf="form.controls['email'].hasError('required') && !form.controls.email.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                        <error-message *ngIf="form.controls['email'].hasError('patternInvalid') && !form.controls.email.pristine && !form.controls.email.hasError('required')">
                            {{ translationService.pt('views.signup.form.lblInvalidFormat') }}
                        </error-message>
                    </cmx-form-field>
                </div>
                <div class="col-md-6">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblPhone')" [error]="!form.controls.phone.valid  && !form.controls.phone.pristine"
                        [rtl]="isRTL">
                        <input type="text" [placeholder]="translationService.pt('views.signup.form.placeholderPhone')" formControlName="phone">
                        <error-message *ngIf="form.controls['phone'].hasError('required') && !form.controls['phone'].pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                        <error-message *ngIf="form.controls['phone'].hasError('pattern') && !form.controls['phone'].pristine && !form.controls['phone'].hasError('required')">
                            {{ translationService.pt('views.signup.form.lblInvalidFormat') }}
                        </error-message>
                    </cmx-form-field>
                </div>
            </div>
            <div class="spacer-8"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [class.error]="!form.controls.password.valid  && !form.controls.password.pristine">
                        <label for="password">{{ translationService.pt('views.signup.form.lblPassword') }}
                            <tooltip [content]="translationService.pt('views.signup.tooltip')"></tooltip>
                        </label>
                        <input type="password" class="form-control" formControlName="password" aria-describedby="passwordHelp" [placeholder]="translationService.pt('views.signup.form.placeholderPassword')">
                        <password-bar *ngIf="form.controls['password'].value.length > 0" [passwordToCheck]="form.controls['password'].value" [barLabel]="barLabel">
                        </password-bar>
                        <error-message *ngIf="form.controls['password']?.value.length > 0 && !passwordHasDigit">
                            {{translationService.pt('views.userManagement.form.lblNumerRequiredInPassword')}}
                        </error-message>
                    </div>
                </div>
                <div class="col-md-6">
                    <cmx-form-field [title]="translationService.pt('views.signup.form.lblConfirmPassword')" [error]="!form.controls.confirmPassword.pristine && (form.hasError('mismatchedPasswords') || !form.controls.confirmPassword.valid)"
                        [rtl]="isRTL">
                        <input type="password" [placeholder]="translationService.pt('views.signup.form.lblConfirmPassword')" formControlName="confirmPassword">
                        <error-message *ngIf="form.controls['confirmPassword'].hasError('required') && !form.controls.confirmPassword.pristine">
                            {{ translationService.pt('views.signup.form.lblRequired') }}
                        </error-message>
                        <error-message *ngIf="form.hasError('mismatchedPasswords') && !form.controls.confirmPassword.pristine">
                            {{ translationService.pt('views.signup.passwordMismatch') }}
                        </error-message>
                    </cmx-form-field>
                </div>
                <div class="spacer-32"></div>
                <div class="row">
                    <div class="col-md-6">
                        <re-captcha (resolved)="resolved($event)" siteKey="{{key}}"></re-captcha>
                    </div>
                </div>
            </div>
            <div class="spacer-16"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="end">
                        <button type="submit" cmx-button [disabled]="(!form.valid || !captchaOk || !passwordHasDigit) || submitted">{{ translationService.pt('views.signup.btnSave') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </panel>
</div>

<cmx-dialog templateId="SIGNUP" #successModal [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.signup.lblUserCreated') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="SIGNUP" #errorModal [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.signup.userNotCreated') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="SIGNUP" #passwordWarningModal [enableFooter]="true" [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.signup.passwordWarning') }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <button cmx-button color="support" (click)="passwordWarningModal.close()">{{ translationService.pt('views.signup.btnCancel') }}</button>
        <button cmx-button (click)="createUser(true)">{{ translationService.pt('views.signup.btnSave') }}</button>
    </cmx-dialog-footer>
</cmx-dialog>
