<div *ngIf="!showIcon && blockBackground" [ngClass]="{'cmx-block-background': blockBackground}"></div>
<div class="cmx-chat cmx-chat-default" *ngIf="!showIcon">
  <div class="cmx-chat-title">
    <figure class="cmx-avatar">
      <cmx-bot-avatar></cmx-bot-avatar>
    </figure>
    <h1 class="roboto-thin">Cemex Chatbot</h1>
    <a href="" data-tid="cmx-close" class="cmx-close" (click)="onClickCloseButton()"></a>
  </div>
  <div class="cmx-messages">
    <div class="cmx-messages-content">
      <cmx-message
        #messages
        class="cmx-message"
        *ngFor="let message of conversation$ | async"
        data-tid="message.id"
        [message]="message"
        (sendMessage)="onSendMessage($event)">
      </cmx-message>
      <cmx-message-loading
        *ngIf="loadingBotMessage"
        [message]="botLodingMessage">
      </cmx-message-loading>
    </div>
  </div>
  <div class="cmx-message-box">
    <input
      type="text"
      data-tid="cmx-message-input"
      class="cmx-message-input roboto-regular"
      placeholder="Type message..."
      [(ngModel)]="text"
      [disabled]="loadingBotMessage"
      (keydown.enter)="onEnter()" />
    <button data-tid="cmx-message-submit" type="submit" class="cmx-message-submit" (click)="onEnter()">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" width="100px" height="100px">
        <g>
          <g>
            <path d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808
              L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193
              c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409
              C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z" fill="#FFFFFF"/>
          </g>
        </g>
        <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
        <g></g><g></g><g></g><g></g><g></g><g></g><g></g>
      </svg>
    </button>
  </div>
</div>
<cmx-bot-avatar data-tid="cmx-chat-icon" class="cmx-chat-icon" *ngIf="withIcon && showIcon" (click)="toggleShowIcon()"></cmx-bot-avatar>


