<div class="cmx-form-group">
  <div class="cmx-form-control--icon-button-trail">
    <input [title]="placeholder" type="text" class="cmx-form-control" [placeholder]="translationService.pt(placeholder)"
      [(ngModel)]="searchTerm" (keyup)="onSearchTermChanged()" (keyup.enter)="onSearchClicked()" id="cmx-input-search-{{templateId}}"/>
    <button class="cmx-button cmx-button--icon" (click)="onSearchClicked()">
      <span class="cmx-icon-magnifier-glass" aria-hidden="true"></span>
    </button>
  </div>
</div>